<%# call with render 'show_item, item: variable %>
<div class="panel panel-default">
  <div class="panel-heading bg-title">
    <h3 class="panel-title"><strong><%= item.name %></strong><span class="pull-right"> <%= t('items.magic_items.show.show_item.level_min', lvl: item_level_min) %> <%= MagicItem.human_attribute_name(item.rarity) %></span></h3>
  </div>

  <div class="panel-body no-padding">
    <ul class="list-group">
      <li class="list-group-item no-border-line bg"><em><%= item.description %></em></li>
      <li class="list-group-item no-border-line">
        <div class="row">
          <% row_col_size = right_level_group.empty? ? 'col-sm-12' : 'col-sm-6' %>
          <div class=<%= row_col_size %>>
            <% left_level_group.each do |level| %>
              <% if level %>
                <div class="row">
                  <div class="col-m-12">
                    <span class="col-sm-1">Niv.</span>
                    <span class="col-sm-2 text-right"><%= level.level.to_s %></span>
                    <% unless item.alteration.blank? %>
                      <span class="col-sm-1">+<%= level.alteration %></span>
                    <% end %>
                    <span class="col-sm-6 text-right"><%= level.price %> PO</span>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
          <% unless right_level_group.empty? %>
            <div class="col-sm-6">
              <% right_level_group.each do |level| %>
                <% if level %>
                  <div class="row">
                    <div class="col-m-12">
                      <span class="col-sm-1">Niv.</span>
                      <span class="col-sm-2 text-right"><%= level.level.to_s %></span>
                      <% unless item.alteration.blank? %>
                        <span class="col-sm-1">+<%= level.alteration %></span>
                      <% end %>
                      <span class="col-sm-6 text-right"><%= level.price %> PO</span>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </li>
      <% unless  item_weapon_groups.empty? %>
        <li class="list-group-item no-border-line"><strong><%= MagicItem.human_attribute_name('weapon_group_ids')%></strong> : <%= display_weapon_group(item_weapon_groups) %></li>
      <% end %>

      <% unless  item_armor_categories.empty? %>
        <li class="list-group-item no-border-line"><strong><%= MagicItem.human_attribute_name('armor_category_ids') %></strong> : <%= item_armor_categories.join(', ') %> </li>
      <% end %>

      <% unless  item.implement_group.nil? %>
        <li class="list-group-item no-border-line"><strong><%= MagicItem.human_attribute_name('implement_group_id') %> (<%= item.implement_group.name %>)</strong></li>
      <% end %>

      <% if item.gear? %>
        <li class="list-group-item no-border-line"><strong><%= MagicItem.human_attribute_name('location_id')%></strong> : <%= item.location_name %></li>
      <% end %>

      <% unless item.alteration.blank? %>
        <li class="list-group-item no-border-line"><strong><%= MagicItem.human_attribute_name('alteration')%></strong> : <%= item.alteration %></li>
      <% end %>

      <% unless item.critical.blank? %>
        <li class="list-group-item no-border-line"><strong><%= MagicItem.human_attribute_name('critical')%></strong> : <%= item.critical %></li>
      <% end %>

      <% unless item.property.blank? %>
        <li class="list-group-item no-border-line"><strong><%= MagicItem.human_attribute_name('property')%></strong> : <%= simple_format(item.property, {}, {wrapper_tag: 'span'}) %></li>
      <% end %>

      <% unless item.power.blank? %>
        <li class="list-group-item no-border-line bg"><strong><%= MagicItem.human_attribute_name('power')%></strong> : <%= simple_format(item.power, {}, {wrapper_tag: 'span'}) %></li>
      <% end %>
    </ul>
  </div>

  <div class="panel-footer">
    <p><strong><%= MagicItem.human_attribute_name('source')%></strong> : <%= item.source_name %></p>
    <% unless item.special.blank? %>
      <span><strong>(Special)</strong> <%= simple_format(item.special, {}, {wrapper_tag: 'span'}) %></span>
    <% end %>
  </div>

</div>
