<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "sidebloc/object" %>
<% end %>

<h3 class="col-md-12"><%= link_to t('magic.weapon.title_show', weapon: @weapon.name), edit_object_magic_weapon_path(@weapon.id) %> </h3>

<dl class="dl-horizontal">
  <dt><%= t("magic.weapon.name",        :class=>"col-md-4")%></dt> <dd class="text-left"><%= @weapon.name %></dd>
  <dt><%= t("magic.weapon.description", :class=>"col-md-4")%></dt> <dd class="text-left"><%= @weapon.description %></dd>


<% if  @weapon.object_levels.empty? %>
  <dt><%= t("magic.levels", :class=>"col-md-4") %>    </dt><dd class="text-left"><%= t('common.empty') %></dd>
<% else %>
   <dt><%= t("magic.levels", :class=>"col-md-4") %>  </dt><dd class="text-left">
    <% @weapon.object_levels.each do |l| %>
      <%= l.level %> / +<%= l.alteration %> / <%= l.price %> PO
    <% end %>
    </dd>
<% end %>
<% if  @weapon.weapon_groups.empty? %>
  <dt><%= t("common.groups", :class=>"col-md-4") %>   </dt><dd class="text-left"><%= t('common.empty') %></dd>
<% else %>
  <dt><%= t("common.groups", :class=>"col-md-4") %> </dt><dd class="text-left">
    <% @weapon.weapon_groups.each do |g| %>
      <%= g.name %>
    <% end %>
  </dd>
<% end %>

  <dt><%= t("magic.weapon.alteration",  :class=>"col-md-4")%></dt> <dd class="text-left"><%= @weapon.alteration %></dd>
  <dt><%= t("magic.weapon.critical",    :class=>"col-md-4")%></dt> <dd class="text-left"><%= @weapon.critical %></dd>
  <dt><%= t("magic.weapon.property",    :class=>"col-md-4")%></dt> <dd class="text-left"><%= @weapon.property %></dd>
  <dt><%= t("magic.weapon.power",       :class=>"col-md-4")%></dt> <dd class="text-left"><%= @weapon.power %></dd>
  <dt><%= t("magic.weapon.special",     :class=>"col-md-4")%></dt> <dd class="text-left"><%= @weapon.special %></dd>
  <dt><%= t("common.source",            :class=>"col-md-4")%></dt> <dd class="text-left"><%= @weapon.source.name %></dd>
</dl>
