<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "sidebloc/objects_menu" %>
<% end %>

<%# Page principale%>
<div class="row">
  <h3 class="col-sm-12">Les objets de DD4</h3>
</div>

<div class="row">
  <div class="col-sm-12">

    <div class="panel-group col-sm-6" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="h_mdj1">
          <h4 class="panel-title">
          <% collapse_id = 'mdj1' %>
          <a role="button" data-toggle="collapse" href=<%="\##{collapse_id}"%> aria-expanded="true" aria-controls="mdj1">
            Manuel des joueurs 1 Objects&nbsp;<span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
          </a>
          </h4>
        </div>
        <div id="mdj1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="h_mdj1">
          <div class="panel-body">
            <%= display_progress_bar("Total des objets enregistrés", 159, 176) %>
            <%= display_progress_bar("Armes magiques", 20, 20) %>
            <%= display_progress_bar("Armures magiques", 28, 28) %>

            <%
              detailImplements = '
                <ul class="list-group">
                  <li class="list-group-item"><span class="badge">9/9</span>Baguettes</li>
                  <li class="list-group-item"><span class="badge">7/7</span>Bâtons</li>
                  <li class="list-group-item"><span class="badge">7/7</span>Orbes</li>
                  <li class="list-group-item"><span class="badge">8/8</span>Sceptres</li>
                  <li class="list-group-item"><span class="badge">7/7</span>Symboles sacrés</li>
                </ul>'
              detailGears = '
                <ul class="list-group">
                  <li class="list-group-item"><span class="badge">9/9</span>Anneaux</li>
                  <li class="list-group-item"><span class="badge">13/13</span>Bottes et jambières</li>
                  <li class="list-group-item"><span class="badge">10/10</span>Boucliers et bracelets</li>
                  <li class="list-group-item"><span class="badge">13/13</span>Capes et amulettes</li>
                  <li class="list-group-item"><span class="badge">14/14</span>Casques et bandeaux</li>
                  <li class="list-group-item"><span class="badge">6/6</span>Ceintures</li>
                  <li class="list-group-item"><span class="badge">8/8</span>Gants et gantelets</li>
                </ul>'
            %>
            <%= display_progress_bar("Focaliseurs", 38, 38, {:content => detailImplements, :title => "Détail des focaliseurs"}) %>
            <%= display_progress_bar("Équipements magiques", 73, 73, {:content => detailGears, :title => "Détail des équipements magiques"}) %>

            <%= display_progress_bar("Objets merveilleux", 0, 13) %>
            <%= display_progress_bar("Potions", 0, 4) %>
          </div>
        </div>
      </div>
      </div>

    <div class="panel-group col-sm-6" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="h_mdj2">
          <h4 class="panel-title">
          <% collapse_id = 'mdj2' %>
          <a role="button" data-toggle="collapse" href=<%="\##{collapse_id}"%> aria-expanded="true" aria-controls="mdj2">
            Manuel des joueurs 2 Objects&nbsp;<span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
          </a>
          </h4>
        </div>
        <div id="mdj2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="h_mdj2">
          <div class="panel-body">
            <%= display_progress_bar("Total des objets enregistrés", 42, 72) %>
            <%= display_progress_bar("Armes magiques", 7, 7) %>
            <%= display_progress_bar("Armures magiques", 32, 32) %>

            <%
              detailImplements = '
                <ul class="list-group">
                  <li class="list-group-item"><span class="badge">3/3</span>Bâtons</li>
                  <li class="list-group-item"><span class="badge">0/9</span>Sceptres</li>
                  <li class="list-group-item"><span class="badge">0/9</span>Totems</li>
                </ul>'
            %>
            <%= display_progress_bar("Focaliseurs", 3, 21, {:content => detailImplements, :title => "Détail des focaliseurs"}) %>

            <%= display_progress_bar("Objets merveilleux", 0, 12) %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

