<h1>Listing Features</h1>

<div class="">
  <table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Description</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @features.each do |feature| %>
      <tr>
        <td><%= link_to feature.name, admin_feature_path(feature.id) %></td>
        <td><%= feature.description %></td>
        <td><%= link_to 'Edit', edit_admin_feature_path(feature) %></td>
        <td><%= link_to 'Destroy', admin_feature_path(feature), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New feature', new_admin_feature_path %>
