<h4><%=@weapon_property.name  %></h4>
<p id="notice"><%= notice %></p>
<div>
  <p><%=@weapon_property.description  %></p>
</div>
<%= link_to 'Edit', edit_admin_weapon_property_path(@weapon_property) %> |
<%= link_to 'Back', admin_weapon_properties_path %>
