<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "sidebloc/objects_menu" %>
<% end %>

<h3 class="col-md-12"><%= link_to t('common.weapon.title_show', weapon: @weapon.name), edit_object_common_weapon_path(@weapon.id) %> </h3>

<div class="row">
  <dl class="dl-horizontal">
    <dt><%= t("common.name",              :class=>"col-md-4")%></dt> <dd class="text-left"><%= @weapon.name %></dd>
    <dt><%= t("common.weapon.handling",   :class=>"col-md-4")%></dt> <dd class="text-left"><%= @weapon.handling %></dd>
    <dt><%= t("common.weapon.damage",     :class=>"col-md-4")%></dt> <dd class="text-left"><%= @weapon.damage %></dd>
    <dt><%= t("common.weapon.range",      :class=>"col-md-4")%></dt> <dd class="text-left"><%= @weapon.range %></dd>
    <dt><%= t("common.price",             :class=>"col-md-4")%></dt> <dd class="text-left"><%= @weapon.price %></dd>
    <dt><%= t("common.weight",            :class=>"col-md-4")%></dt> <dd class="text-left"><%= @weapon.weight %></dd>
    <dt><%= t("common.weapon.w_usage",    :class=>"col-md-4")%></dt> <dd class="text-left"><%= localize_weapon_usage @weapon.two_handed %></dd>
    <dt><%= t("common.categories",        :class=>"col-md-4")%></dt> <dd class="text-left"><%= @weapon.weapon_category.name%></dd>

    <% if  @weapon.weapon_groups.empty? %>
      <dt><%= t("common.weapon_groups", :class=>"col-md-4") %>      </dt><dd class="text-left"><%= t('common.empty') %></dd>
    <% else %>
      <% @weapon.weapon_groups.each do |g| %>
        <dt><%= t("common.weapon_groups", :class=>"col-md-4") %>      </dt><dd class="text-left"><%= g.name %></dd>
      <% end %>
    <% end %>

    <% if  @weapon.weapon_properties.empty? %>
      <dt><%= t("common.weapon.properties", :class=>"col-md-4") %>      </dt><dd class="text-left"><%= t('common.empty') %></dd>
    <% else %>
      <% @weapon.weapon_properties.each do |p| %>
        <dt><%= t("common.weapon.properties", :class=>"col-md-4") %>      </dt><dd class="text-left"><%= p.name %></dd>
      <% end %>
    <% end %>

    <dt><%= t("common.source",            :class=>"col-md-4")%></dt> <dd class="text-left"><%= @weapon.source.name %></dd>
  </dl>
</div>

