<p><strong><%= comment.character.name %></strong> : <%= comment.comment %></p>
<h5>
    <small>le <%= comment.updated_at.in_time_zone("Europe/Paris").strftime("%d/%m/%Y à %H:%M:%S") %></small>
    <% if comment.owned?(@current_user) %>
        <span class="pull-right">
            <% if @game %>
                <%= link_to 'X', campaign_game_comment_path(@campaign.id, @game.id, comment.id), method: :delete, data: { confirm: "Supprimer le commentaire #{@comment.id} ?" }, class: "btn btn-danger btn-xs" %>
            <% else %>
                <%= link_to 'X', campaign_comment_path(@campaign.id, comment.id), method: :delete, data: { confirm: "Supprimer le commentaire #{@comment.id} ?" }, class: "btn btn-danger btn-xs" %>
            <% end %>
        </span>
    <% end %>
    </h5>
<hr>
