<h4>
<%= comment.user.name %> <small>le <%= comment.updated_at.in_time_zone("Europe/Paris").strftime("%d/%m/%Y à %H:%M:%S") %></small>
<% if comment.owned?(@current_user) %>
    <span class="pull-right">
        <% if @game %>
            <%= link_to 'X', campaign_game_comment_path(@campaign.id, @game.id, comment.id), method: :delete, data: { confirm: "Supprimer le commentaire #{@comment.id} ?" }, class: "btn btn-danger" %>
        <% else %>
            <%= link_to 'X', campaign_comment_path(@campaign.id, comment.id), method: :delete, data: { confirm: "Supprimer le commentaire #{@comment.id} ?" }, class: "btn btn-danger" %>
        <% end %>
    </span>
<% end %>
</h4>
<p><%= comment.comment %></p>
<hr>
