<div class="media">
  <div class="pull-left media-middle size-comment">
    <%= image_tag(comment.character.avatar.comment.url, class: "media-object img-responsive center-block", alt: comment.character.name) %>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      <%= comment.character.name %>
      <span class="pull-right">
        <%= link_to params.permit([:edit]).merge(edit: comment.id), class: "btn btn-primary btn-xs" do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
        <%= link_to comment_path(comment.id), method: :delete, data: { confirm: "Supprimer le commentaire #{comment.id} ?" }, class: "btn btn-danger btn-xs" do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      </span>
    </h4>
    <%= simple_format comment.comment %>
  </div>
</div>
<hr>
