<div class="col-sm-12">
  <p>Participer au debriefing</p>
  <%= form_for [@campaign, @game, @comment], {:class => 'form-horizontal'} do |f| %>
    <%= f.hidden_field :campaign_id, value: @campaign.id if @campaign %>
    <%= f.hidden_field :game_id, value: @game.id if @game %>
    <%= f.hidden_field :user_id, value: @current_user.id%>
    <div class="form-group">
      <div class="col-sm-12">
        <%= f.text_area :comment, size: 60, :class=>"form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-8">
        <%= f.submit t("common.validate"), :class => "btn btn-info" %>
      </div>
    </div>
  <% end %>
</div>
