<p id="notice"><%= notice %></p>

<h1>Listing Monsters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Px</th>
      <th>Type</th>
      <th>Origin</th>
      <th>Keywords</th>
      <th>Source</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monsters.each do |monster| %>
      <tr>
        <td><%= monster.name %></td>
        <td><%= monster.category %></td>
        <td><%= monster.px %></td>
        <td><%= monster.race %></td>
        <td><%= monster.origin %></td>
        <td><%= monster.keywords %></td>
        <td><%= monster.source %></td>
        <td><%= link_to 'Show', dm_tools_monster_path(monster) %></td>
        <td><%= link_to 'Edit', edit_dm_tools_monster_path(monster) %></td>
        <td><%= link_to 'Destroy', dm_tools_monster_path(monster), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Monster', new_dm_tools_monster_path %>
