<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "dm_tools/dm_tools_menu" %>
<% end %>

<div class="row">
  <h3 class="col-sm-12"><%= t('.title_index') %></h3>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= render "form_search", url: dm_tools_monsters_path %>
  </div>
</div>
</br>
<div class="row">
  <div class="col-sm-12">
    <%= render "index_table", monsters: @monsters %>
  </div>
</div>

<br>

<%= link_to 'New Monster', new_dm_tools_monster_path %>
