<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "dm_tools/dm_tools_menu" %>
<% end %>

<div class="col-sm-4">
  <figure>
    <% image = File.join(
        Rails.application.config_for(:dungeons)["monsters_dir"],
        custom_transliterate(@monster.source.name),
        custom_transliterate(@monster.category),
        custom_transliterate(@monster.name) + '.jpg'
    ) %>
    <%= (image_tag(image, size: "400x70", alt: image, id: "image_#{@monster.id}", class: 'zoom img-responsive img-rounded center-block')) %>
    <figcaption class="text-center"><small><%= @monster.name %></small></figcaption>
  </figure>
</div>

<div class="row col-sm-12">
<br>
<%= link_to 'Edit', edit_dm_tools_monster_path(@monster) %> |
<%= link_to 'Back', dm_tools_monsters_path %>
</div>
