<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @monster.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @monster.category %>
</p>

<p>
  <strong>Px:</strong>
  <%= @monster.px %>
</p>

<p>
  <strong>Race:</strong>
  <%= @monster.race %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @monster.origin %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @monster.keywords %>
</p>

<p>
  <strong>Source:</strong>
  <%= @monster.source %>
</p>

<%= link_to 'Edit', edit_dm_tools_monster_path(@monster) %> |
<%= link_to 'Back', dm_tools_monsters_path %>
