<% if result.empty? %>
  <p>Aucun résultats pour cette catégorie</p>
<% else %>
<div class="table-responsive">
  <table  class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th class="col-sm-1"><%= t('magic.name')            %></th>
      <th class="col-sm-1"><%= t('magic.property')        %></th>
      <th class="col-sm-1"><%= t('magic.power')           %></th>
      <th class="col-sm-1"><%= t('magic.source')          %></th>
    </tr>
    </thead>
    <tbody>
    <% result.each do |r| %>
    <tr>
      <td>
          <% if r.class.to_s == 'MagicWeapon' %>
            <%= link_to r.name, object_magic_weapon_path(r.id)  %>
          <% elsif r.class.to_s == 'MagicArmor' %>
            <%= link_to r.name, object_magic_armor_path(r.id)  %>
          <% elsif r.class.to_s == 'MagicGear' %>
            <%= link_to r.name, object_magic_gear_path(r.id)  %>
          <% elsif r.class.to_s == 'MagicImplement' %>
            <%= link_to r.name, object_magic_implement_path(r.id)  %>
          <% end %>
      </td>
      <td><%= display_first_words r.property %> </td>
      <td><%= display_first_words r.power %> </td>
      <td><%= r.source.name %> </td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>
<% end %>
