<h4><%=@implement_property.name  %></h4>
<p id="notice"><%= notice %></p>
<div>
  <p><%=@implement_property.description  %></p>
</div>
<%= link_to 'Edit', edit_admin_implement_property_path(@implement_property) %> |
<%= link_to 'Back', admin_implement_properties_path %>
