<div>
<h4>Objets communs</h4>
  <ul>
    <li><%= link_to "Les armes communes", object_common_weapons_path %></li>
    <li><%= link_to "Les armures communes", object_common_armors_path %></li>
  </ul>
<h4>Objets magiques</h4>
  <ul>
    <li><%= link_to "Les armes magiques", object_magic_weapons_path %></li>
    <li><%= link_to "Les armures magiques", object_magic_armors_path %></li>
    <li><%= link_to "Les focaliseurs magiques", object_magic_implements_path %></li>
    <li>Les équipements magiques</li>
  </ul>
<!-- <h4>IMPORT</h4>
  <ul>
    <li><%#= link_to "IMPORT", welcome_import_path %></li>
  </ul> -->
</div>
