<h4>Objets communs</h4>
<ul>
  <li><%= link_to "Les armes communes", object_common_weapons_path %></li>
  <li><%= link_to "Les armures communes", object_common_armors_path %></li>
</ul>
<h4>Objets magiques</h4>
<ul>
  <li><%= link_to "Les armes magiques", weapons_object_magic_items_path %></li>
  <li><%= link_to "Les armures magiques", armors_object_magic_items_path %></li>
  <li><%= link_to "Les focaliseurs magiques", implements_object_magic_items_path %></li>
  <li><%= link_to "Les amulettes magiques", amulets_object_magic_items_path %></li>
  <li><%= link_to "Les équipements magiques", gears_object_magic_items_path %></li>
</ul>
<h4>Consommables</h4>
<ul>
  <li><%= link_to "Tous les Consommables", object_consumables_path %></li>
  <% Rails.application.config_for(:dungeons)["consumable_kind"].each do |k| %>
    <li><%= link_to t("consumables.kind.#{k}"), object_consumables_path %></li>
  <% end %>
</ul>
