<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "races_menu" %>
<% end %>

<div class="row">
  <div class="col-sm-8">
    <%= render "resume", race: @race %>
  </div>
  <div class="col-sm-4">
    <figure>
      <%= image_tag(File.join('images_races', "race_#{@race.normalize_str}.png"), id: "image_#{@race.id}", class: 'img-responsive img-rounded center-block') %>
      <figcaption class="text-center"><small><%= @race.name %></small></figcaption>
    </figure>
  </div>
</div>

<div class="row">
  <div class="col-sm-8">
    <%= File.read(Rails.root.join('lib', 'assets', 'articles', 'races', "#{@race.normalize_str}.txt")).html_safe() %>
  </div>
</div>
