<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <h4 class="col-sm-11 black-bg white-text">Jets d'attaque</h4>
    </div>
    <div class="row">
      <div class="col-sm-11">
        <table class="table table-condensed table-bordered">
          <thead>
            <tr>
              <th class="text-center thin-text">Arme</th>
              <th class="text-center thin-text">Carac</th>
              <th class="text-center thin-text">Total</th>
              <th class="text-center thin-text">1/2 niv.</th>
              <th class="text-center thin-text">Bonus de carac</th>
              <th class="text-center thin-text">Bonus de maniement</th>
              <th class="text-center thin-text">Bonus d'altération</th>
              <th class="text-center thin-text">Bonus de talent</th>
            </tr>
          </thead>
          <tbody>
            <% @attack_rolls.each_with_index do |mar, index| %>
            <tr>
              <% if index.even? %>
                <td class="text-center thin-text v-center" rowspan="2"><%= mar[:weapon] %></td>
              <% end %>
              <td class="text-center thin-text"><%= mar[:carac] %></td>
              <td class="text-center thin-text">+<%= mar[:total] %></td>
              <% if index.even? %>
              <td class="text-center thin-text v-center" rowspan="2">+<%= mar[:half_level] %></td>
              <% end %>
              <td class="text-center thin-text">+<%= mar[:ability_bonus] %></td>
              <% if index.even? %>
              <td class="text-center thin-text v-center" rowspan="2"><%= mar[:proficiency] %></td>
              <td class="text-center thin-text v-center" rowspan="2">+<%= mar[:alteration] %></td>
              <td class="text-center thin-text v-center" rowspan="2">+<%= mar[:feats] %></td>
              <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <h4 class="col-sm-11 black-bg white-text">Jets de dégâts</h4>
    </div>
    <div class="row">
      <div class="col-sm-11">
        <p>WIP Jets de dégâts</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <h4 class="col-sm-4 black-bg white-text">Caractéristiques</h4>
      <h4 class="col-sm-6 col-sm-offset-1 black-bg white-text">Défenses</h4>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th class="text-center thin-text">Valeur</th>
              <th class="text-center thin-text">Caractéristique</th>
              <th class="text-center thin-text">Mod carac</th>
              <th class="text-center thin-text">Mod carac<br> + 1/2 niv.</th>
            </tr>
          </thead>
          <tbody>
            <% @abilities.each do |ability| %>
              <tr>
                <td><button type="button" class="large-text rounded width-max btn btn-default btn-sm bold" disabled="disabled"><%= ability.total_value %></button></td>
                <td class="black-bg white-text v-center"><%= Stat.human_attribute_name ability.ability_name %></td>
                <td><button type="button" class="width-max btn btn-default btn-sm bold" disabled="disabled"><%= pretty_modifier(ability.modifier) %></button></td>
                <td><button type="button" class="width-max btn btn-default btn-sm bold" disabled="disabled"><%= pretty_modifier(ability.modifier + @character.half_level) %></button></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-sm-6 col-sm-offset-1">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th class="text-center thin-text"><small>Valeur</small></th>
              <th class="text-center thin-text"><small>Défense</small></th>
              <th class="text-center thin-text"><small>10</small></th>
              <th class="text-center thin-text"><small>Armure / Carac.<br> + 1/2 niv.</small></th>
              <th class="text-center thin-text"><small>Race /<br>Classe</small></th>
              <th class="text-center thin-text"><small>Talent</small></th>
              <th class="text-center thin-text"><small>Alté.</small></th>
              <th class="text-center thin-text"><small>Bouclier</small></th>
              <th class="text-center thin-text"><small>Divers</small></th>
            </tr>
          </thead>
          <tbody>
            <% @defenses.each do |defense, bonus| %>
              <tr>
                <td><button type="button" class="large-text rounded width-max btn btn-default btn-sm bold" disabled="disabled"><%= total_defense(bonus, @character.half_level) %></button></td>
                <td class="black-bg white-text text-center v-center"><%= defense %></td>
                <td><button type="button" class="width-max btn btn-default btn-sm bold" disabled="disabled">10</button></td>
                <td><button type="button" class="width-max btn btn-default btn-sm bold" disabled="disabled"><%= @character.half_level + bonus.modifier %></button></td>
                <td><button type="button" class="width-max btn btn-default btn-sm bold" disabled="disabled"><%= bonus.bonus_racial + bonus.bonus_klass %></button></td>
                <td><button type="button" class="width-max btn btn-default btn-sm bold" disabled="disabled">0</button></td>
                <td><button type="button" class="width-max btn btn-default btn-sm bold" disabled="disabled">0</button></td>
                <td><button type="button" class="width-max btn btn-default btn-sm bold" disabled="disabled">0</button></td>
                <td><button type="button" class="width-max btn btn-default btn-sm bold" disabled="disabled">0</button></td>
              </tr>
              <tr>
                <td colspan=9 class="thin-text">Bonus conditionnels : N/A</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <h4 class="col-sm-4 black-bg white-text">Initiative</h4>
      <h4 class="col-sm-6 col-sm-offset-1 black-bg white-text">Mouvement</h4>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th class="text-center thin-text"><small>Valeur</small></th>
              <th class="text-center thin-text"><small></small></th>
              <th class="text-center thin-text"><small>Dex</small></th>
              <th class="text-center thin-text"><small>1/2 niv.</small></th>
              <th class="text-center thin-text"><small>Race</small></th>
              <th class="text-center thin-text"><small>Divers</small></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% init_bonus_racial = @character.race.name == 'Githzerai' ? 2 : 0 %>
              <td><button type="button" class="large-text width-max btn btn-default btn-sm bold" disabled="disabled"><%= pretty_modifier(@character.half_level + init_bonus_racial + @dexterity.modifier) %></button></td>
              <td class="black-bg white-text text-center v-center">Initiative</td>
              <td><button type="button" class="width-max btn btn-default btn-sm bold" disabled="disabled"><%= @dexterity.modifier %></button></td>
              <td><button type="button" class="width-max btn btn-default btn-sm bold" disabled="disabled"><%= @character.half_level %></button></td>
              <td><button type="button" class="width-max btn btn-default btn-sm bold" disabled="disabled"><%= init_bonus_racial %></button></td>
              <td><button type="button" class="width-max btn btn-default btn-sm bold" disabled="disabled">0</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-6 col-sm-offset-1">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th class="text-center thin-text"><small>Valeur</small></th>
              <th class="text-center thin-text"><small></small></th>
              <th class="text-center thin-text"><small>Base</small></th>
              <th class="text-center thin-text"><small>Armure</small></th>
              <th class="text-center thin-text"><small>Objet</small></th>
              <th class="text-center thin-text"><small>Divers</small></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><button type="button" class="large-text width-max btn btn-default btn-sm bold" disabled="disabled"><%= @character.race.speed %></button></td>
              <td class="black-bg white-text text-center v-center">VD</td>
              <td><button type="button" class="width-max btn btn-default btn-sm bold" disabled="disabled"><%= @character.race.speed %></button></td>
              <td><button type="button" class="width-max btn btn-default btn-sm bold" disabled="disabled">0</button></td>
              <td><button type="button" class="width-max btn btn-default btn-sm bold" disabled="disabled">0</button></td>
              <td><button type="button" class="width-max btn btn-default btn-sm bold" disabled="disabled">0</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <h4 class="col-sm-4 black-bg white-text">Points de vie</h4>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th class="text-center thin-text">Total</th>
              <th class="text-center thin-text">Péril</th>
              <th class="text-center thin-text">Val. de récup</th>
              <th class="text-center thin-text">Récup/jour</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center thin-text"><%= @hp[:total] %></td>
              <td class="text-center thin-text"><%= @hp[:half_blooded] %></td>
              <td class="text-center thin-text"><%= @hp[:healing_surge] %></td>
              <td class="text-center thin-text"><%= @hp[:healing_surge_by_day] %></td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
