<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "dm_tools/dm_tools_menu" %>
<% end %>
<div class="col-sm-8">

<div class="row">
  <h3>Préparer un nouveau combat !</h3>
</div>

<div class="row">
  <%= render "dm_tools/encounters/new_encounter/budget" %>
  <hr>
  <%= render "dm_tools/encounters/new_encounter/search" %>
  <hr>
  <%= render "dm_tools/encounters/new_encounter/select_monster" %>
  <hr>
  <%= render "dm_tools/encounters/new_encounter/monsters_list" %>

</div>

<%= link_to 'Liste des rencontres', dm_tools_encounters_path %>

</div>
<div class="col-sm-4">
<h3>Exemple de rencontres</h3>
  <ul>
  <% @encounters_exemple.each do |e| %>
      <li class="small"><%= simple_format e.description %></li>
  <% end %>
  </ul>
</div>
