<%= form_for @feat, {:class => 'form-horizontal'} do |f| %>
  <div class="form-group">
    <%= f.label :name, t("feat.name"), :class=>"col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :name, size: 60, :class=>"form-control" %>
    </div>
  <div class="form-group">
    <%= f.label :categorie, t("feat.category"), :class=>"col-sm-4 control-label" %>
    <div class="col-sm-8">
       <%= f.select :category, options_for_select(Feat::CATEGORY, @feat.category),{}, {:multiple => false, :size => 3, :class => "form-control"}  %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :avantage, t("feat.avantage"), :class=>"col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%= f.text_area :avantage, size: "60x5", :class=>"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :errata, t("feat.errata"), :class=>"col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%= f.text_area :errata, size: "60x5", :class=>"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <% default_source = @feat.races.empty? ? nil : @feat.race_ids %>
    <%= f.label :race_ids, t("feat.race"), :class=>"col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%=f.select :race_ids, options_from_collection_for_select(@races, :id, :name, default_source), {include_blank: true}, {multiple: true, :class => "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <% default_klass = @feat.klasses.empty? ? nil : @feat.klass_ids %>
    <%= f.label :klass_ids, t("feat.klass"), :class=>"col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%=f.select :klass_ids, options_from_collection_for_select(@klasses, :id, :name, default_source), {include_blank: true}, {multiple: true, :class => "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <% default_klass = @feat.class_features.empty? ? nil : @feat.class_feature_ids %>
    <%= f.label :class_feature_ids, t("feat.class_feature"), :class=>"col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%=f.select :class_feature_ids, options_from_collection_for_select(@class_features, :id, :name, default_source), {include_blank: true}, {multiple: true, :class => "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <% default_source = @feat.source_id.nil? ? nil : @feat.source_id %>
    <%= f.label :source_id, t("common.source"), :class=>"col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%=f.select :source_id, options_from_collection_for_select(@sources, :id, :name, default_source), {include_blank: true}, {multiple: false, :class => "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-8">
      <%= f.submit t("common.validate"), :class => "btn btn-default" %>
      </div>
  </div>
<% end %>
