<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info feats %>
    </div>
    <%= will_paginate feats, :container => false %>
</div>

<div class="table-responsive">
  <table  class="table table-striped table-bordered table-hover">
    <tr>
      <th class="col-sm-1"><%= t('feats.name') %></th>
      <th class="col-sm-1"><%= t('feats.klass') %></th>
      <th class="col-sm-1"><%= t('feats.race') %></th>
      <th class="col-sm-1"><%= t('feats.avantage') %></th>
      <th class="col-sm-1"><%= t('feats.Source') %></th>
    </tr>
  <% feats.each do |a| %>
    <tr>
      <td><%= link_to a.name, feat_path(a.id)  %></td>
      <td><%= a.klasses %> </td>
      <td><%= a.races %> </td>
      <td>
        <span class="" data-placement='top' data-toggle="popover" data-trigger="hover" data-content="<%= a.avantage %>" data-title="<%= a.name %>" >
          <p><%= display_first_words a.avantage %></p>
        </span>
      </td>
      <td><%= a.source.try(&:name) %> </td>
    </tr>
  <% end %>
  </table>
</div>

<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info feats %>
    </div>
    <%= will_paginate feats, :container => false %>
</div>
