<%# Sidebloc content%>
<% content_for :sidebloc do %>
 <%= render "sidebloc/feats_menu" %>
<% end %>

<h3 class="col_sm-12"> <%= @feat.name %></h3>

<dl class="dl-horizontal">
  <dt><%= t("feat.category",  :class=>"col_sm-4")%></dt>  <dd class="text-left"><%= @feat.category %></dd>
  <dt><%= t("feat.power",     :class=>"col_sm-4")%></dt>  <dd class="text-left"><%= @feat.prerequisited_power %></dd>
  <dt><%= t("feat.skill",     :class=>"col_sm-4")%></dt>  <dd class="text-left"><%= @feat.prerequisited_skill %></dd>
  <dt><%= t("feat.other",     :class=>"col_sm-4")%></dt>  <dd class="text-left"><%= @feat.prerequisited_other %></dd>
  <dt><%= t("feat.races",     :class=>"col_sm-4")%></dt>  <dd class="text-left"><%= @feat.races %></dd>
  <dt><%= t("feat.klasses",   :class=>"col_sm-4")%></dt>  <dd class="text-left"><%= @feat.klasses %></dd>
  <dt><%= t("feat.klass_feature",  :class=>"col_sm-4")%></dt>  <dd class="text-left"><%= @feat.klass_features %></dd>
  <dt><%= t("feat.race_feature",   :class=>"col_sm-4")%></dt>  <dd class="text-left"><%= @feat.race_features %></dd>
  <dt><%= t("feat.stats",     :class=>"col_sm-4")%></dt>  <dd class="text-left"><%= @feat.stats %> </dd>
  <dt><%= t("feat.req_feats", :class=>"col_sm-4")%></dt>  <dd class="text-left"><%= @feat.required_feats %> </dd>
  <dt><%= t("feat.avantage",  :class=>"col_sm-4")%></dt>  <dd class="text-left"><%= simple_format @feat.avantage %></dd>
  <dt><%= t("feat.errata",    :class=>"col_sm-4")%></dt>  <dd class="text-left"><%= @feat.errata %></dd>
  <dt><%= t("common.source",  :class=>"col_sm-4")%></dt>  <dd class="text-left"><%= @feat.source.name %></dd>
</dl>

<%= link_to t('feat.title_show', feat: @feat.name), edit_feat_path(@feat.id) %>
