<%# Sidebloc content%>
<% content_for :sidebloc do %>
 <%= render "sidebloc/feats_menu" %>
<% end %>

<h3 class="col_sm-12"> <%= @feat.name %></h3>

<dl class="dl-horizontal">
  <dt><%= t("feats.category",  :class=>"col_sm-4")%></dt>  <dd class="text-left"><%= @feat.category %></dd>
  <dt><%= t("feats.prerequisites",  :class=>"col_sm-4")%></dt>  <dd class="text-left"><%= @feat.prerequisites.capitalize %></dd>
  <dt><%= t("feats.avantage",  :class=>"col_sm-4")%></dt>  <dd class="text-left"><%= simple_format @feat.avantage %></dd>
  <dt><%= t("feats.errata",    :class=>"col_sm-4")%></dt>  <dd class="text-left"><%= @feat.errata %></dd>
  <dt><%= t("common.source",  :class=>"col_sm-4")%></dt>  <dd class="text-left"><%= @feat.source.name %></dd>
</dl>

<%= link_to t('feat.title_show', feat: @feat.name), edit_feat_path(@feat.id) %>
