<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "feats_menu" %>
<% end %>

<div class="row">
  <h3 class="col-sm-12"><%= t("feats.title_list") %></h3>
</div>

    <%= render"form_search" %>


<div class="row">
<% if @feats.empty? %>
  <p class="col-sm-5"><%= t('common.no_result') %></p>
<% else %>
  <div class="col-sm-12">
    <%= render "index_table", feats: @feats %>
  </div>
<% end %> <!-- Fin if -->
</div>
