<h4>Recontre en cours</h4>

<table id="monsters_list" class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th class="col-sm-2"># </th>
      <th class="col-sm-4"><%= Monster.human_attribute_name('name')         %></th>
      <th class="col-sm-1"><%= Monster.human_attribute_name('main_role')    %></th>
      <th class="col-sm-1"><%= Monster.human_attribute_name('second_role')  %></th>
      <th class="col-sm-1"><%= Monster.human_attribute_name('leader')       %></th>
      <th class="col-sm-1"><%= Monster.human_attribute_name('level')        %></th>
      <th class="col-sm-1"><%= Monster.human_attribute_name('px')        %></th>
      <th class="col-sm-1"><%= Monster.human_attribute_name('id')        %></th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
