<h4></h4>
<fieldset>
  <legend>Recherchez vos monstres et ajoutez-les à votre rencontre</legend>
<%= form_for @search, url: ajax_search_dm_tools_monsters_path, method: :get, html: {class: 'form-horizontal', remote: true, data: {type: "json"}} do |form| %>
<div class="row">

  <div class="form-group col-xs-6">
    <%= form.label(:main_role, Monster.human_attribute_name('main_role'), :class=>"col-sm-4") %>
    <div class="col-sm-8">
      <%= form.select :main_role, Monster::MAIN_ROLE.collect{|r| [r, r]}, {:include_blank => 'Tous'}, {:class=>"select_form form-control"} %>
    </div>
  </div>

  <div class="form-group col-xs-6">
    <%= form.label(:second_role, Monster.human_attribute_name('second_role'), :class=>"col-sm-4") %>
    <div class="col-sm-8">
      <%= form.select :second_role, Monster::SECOND_ROLE.collect{|r| [r, r]}, {:include_blank => 'Tous'}, {:class=>"select_form form-control"} %>
    </div>
  </div>
</div>

<div class="row">

  <div class="form-group col-xs-6">
    <%= form.label(:race, Monster.human_attribute_name('race'), :class=>"col-sm-4") %>
    <div class="col-sm-8">
      <%= form.select :race, Monster::RACE.collect{|r| [r, r]}, {:include_blank => 'Toutes'}, {:class=>"select_form form-control"} %>
    </div>
  </div>

  <div class="form-group col-xs-6">
    <%= form.label(:leader, Monster.human_attribute_name('leader'), :class=>"col-sm-4") %>
    <div class="col-sm-8">
      <%= form.select :leader, options_for_select([["Oui", true], ["Non", false]]), {:include_blank => 'Tous'}, {:class=>"select_form form-control"}  %>
    </div>
  </div>
</div>

<% end %>
</fieldset>
