 <%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "sidebloc/user_menu" %>
<% end %>

<div class="row col-sm-12">
  <h3><%= @current_user.name %> <small>(<%= @current_user.email %>)</small> </h3>
  <p><%= link_to t('.new_character'), new_character_path %></p>
</div>

<div class="row col-sm-10">
  <h3><%= t('.my_wishlist') %></h3>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th class="col-sm-11">Nom</th>
        <th class="col-sm-1">Supprimer</th>
      </tr>
    </thead>
    <tbody>
      <% @current_user.magic_items.each do |item| %>
        <tr>
          <td><%= link_to item.name, items_magic_item_path(item.id) %></td>
          <td><%= link_to 'x', rem_wishlist_items_magic_items_path(item: item.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </ul>
</div>