 <h3 class="col_sm-12"><%= @user.name %> </h3>

 <ul>
  <dt><%= t("user.name",  :class=>"col_sm-4")%></dt> <dd class="text-left"><%= @user.name %></dd>
  <dt><%= t("user.email", :class=>"col_sm-4")%></dt> <dd class="text-left"><%= @user.email %></dd>
</ul>
