<%= form_for [:object, @armor], {:class => 'form-horizontal'} do |f| %>
  <div class="form-group">
    <%= f.label :name, t("magic.name"), :class=>"col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :name, size: 60, :class=>"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, t("magic.description"), :class=>"col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :description, size: 60, :class=>"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <% default_level = @armor.object_level_ids.empty? ? nil : @armor.object_level_ids %>
    <%= f.label :object_level_ids, t("magic.levels"), :class=>"col-sm-4 control-label" %>
    <div class="col-sm-8">
       <%= f.select :object_level_ids, options_from_collection_for_select(@levels, :id, :level, default_level),{}, {:multiple => true, :size => 5, :class => "form-control"}  %>
    </div>
  </div>
  <div class="form-group">
    <% default_category = @armor.armor_category_ids.empty? ? nil : @armor.armor_category_ids %>
    <%= f.label :armor_category_ids, t("common.armor_categories"), :class=>"col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%=f.select :armor_category_ids, options_from_collection_for_select(@armor_categories, :id, :name, default_category),{}, {:multiple => true, :size => 5, :class => "form-control"}  %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :alteration, t("magic.alteration"), :class=>"col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :alteration, size: 60, :class=>"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :property, t("magic.property"), :class=>"col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%= f.text_area :property, size: "60x5", :class=>"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :power, t("magic.power"), :class=>"col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%= f.text_area :power, size: "60x5", :class=>"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :special, t("magic.special"), :class=>"col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%= f.text_area :special, size: "60x5", :class=>"form-control" %>
    </div>
  </div>
  <div class="form-group">
    <% default_source = @armor.source_id.nil? ? nil : @armor.source.id %>
    <%= f.label :source_id, t("common.source"), :class=>"col-sm-4 control-label" %>
    <div class="col-sm-8">
      <%=f.select :source_id, options_from_collection_for_select(@sources, :id, :name, default_source), {include_blank: true}, {multiple: false, :class => "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-8">
      <%= f.submit t("common.validate"), :class => "btn btn-default" %>
      </div>
  </div>
<% end %>
