<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info armors %>
    </div>
    <%= will_paginate armors, :container => false %>
</div>

<div class="table-responsive">
  <table  class="table table-striped table-bordered table-hover">
    <tr>
      <th class="col-sm-1"><%= t('magic.name')       %></th>
      <th class="col-sm-1"><%= t('common.armor_categories')%></th>
      <th class="col-sm-1"><%= t('magic.level_min')  %></th>
      <th class="col-sm-1"><%= t('magic.property')   %></th>
      <th class="col-sm-1"><%= t('magic.power')      %></th>
      <th class="col-sm-1"><%= t('magic.rarity')      %></th>
      <th class="col-sm-1"><%= t('magic.source')           %></th>
    </tr>
  <% armors.each do |a| %>
    <tr>
      <td><%= link_to a.name, object_magic_armor_path(a.id)  %></td>
      <td>
        <% a.armor_categories.each do |c| %>
          <%= c.name %></br>
        <% end %>
      </td>
      <td><%= a.object_level_ids.min %> </td>
      <td><%= display_first_words(a.property) %> </td>
      <td><%= display_first_words(a.power) %> </td>
      <td><%= a.rarity %> </td>
      <td><%= a.source.name %> </td>
    </tr>
  <% end %><!-- Fin communs -->
  </table>
</div>
<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info armors, {model: "Armes magiques"} %>
    </div>
    <%= will_paginate armors, :container => false %>
</div>
