<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "sidebloc/objects_menu" %>
<% end %>

<div class="row">
  <h3 class="col-sm-12"><%= t('magic.armor.title_index') %></h3>
</div>

<div class="row" style="margin-bottom:20px;">
  <%= form_for @search, {url: object_magic_armors_path, method: :get, class: 'form-inline'} do |form| %>

  <div class="form-group col-xs-4">
    <%= form.label(:name, t('magic.name'), :class=>"col-sm-4") %>
    <div class="col-sm-8">
      <%= form.text_field(:name, :class=>"form-control") %>
    </div>
  </div>

  <div class="form-group col-xs-4">
    <%= form.label(:object_levels, t('magic.alteration_max'), :class=>"col-sm-4") %>
    <div class="col-sm-8">
      <%= form.text_field(:object_levels, :class=>"form-control") %>
    </div>
  </div>

  <div class="form-group col-xs-4">
    <% default_options =  params["magic_search"]["armor_categories"] if params["magic_search"]%>
    <%= form.label(:armor_categories, t('common.armor_categories'), :class=>"col-sm-4") %>
    <div class="col-sm-8">
      <%= form.select :armor_categories, options_from_collection_for_select(@armor_categories, :id, :name, default_options),{:include_blank => 'Tous'}, {:multiple => true, :size => 3, :class=>"form-control"} %>
    </div>
  </div>

  <div class="form-group col-xs-4">
    <% default_source =  params["magic_search"]["source"] if params["magic_search"]%>
    <%= form.label(:source, t('common.source'), :class=>"col-sm-4") %>
    <div class="col-sm-8">
      <%= form.select :source, options_from_collection_for_select(@sources, :id, :name, default_source), {:include_blank => 'Tous'}, {:multiple => false, :class=>"form-control"}  %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-8">
      <%= form.submit t("common.validate"), :class => "btn btn-default" %>
      <%= link_to t("common.reset"), object_magic_armors_path, :class => "btn btn-default" %>
      </div>
  </div>
  <% end %>
</div>


<div class="row">
  <div class="col-sm-12">
    <%= render "index_table", armors: @armors %>
  </div>
</div>


<div class="row">
  <p class="col-sm-5"><%= link_to t('magic.armor.new_armor'), new_object_magic_armor_path %></p>
</div>
