<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "items/items_side_menu" %>
<% end %>

<div class="row">
  <h3 class="col_sm-12"><%= @consumable.name %> </h3>
</div>

<dl class="dl-horizontal">

<dt><%= Consumable.human_attribute_name("description")%></dt>  <dd class="text-left"><%= @consumable.description %></dd>
<dt><%= Consumable.human_attribute_name("kind")       %></dt>  <dd class="text-left"><%= t("consumables.kind.#{@consumable.kind}") %></dd>
<dt><%= Consumable.human_attribute_name("levels")     %></dt>  <dd class="text-left"><%= display_levels(@consumable.object_levels, true, "consumable") %></dd>
<dt><%= Consumable.human_attribute_name("alteration") %></dt>  <dd class="text-left"><%= @consumable.alteration %></dd>
<dt><%= Consumable.human_attribute_name("property")   %></dt>  <dd class="text-left"><%= @consumable.property %></dd>
<dt><%= Consumable.human_attribute_name("power")      %></dt>  <dd class="text-left"><%= @consumable.power %></dd>
<dt><%= Consumable.human_attribute_name("special")    %></dt>  <dd class="text-left"><%= @consumable.special %></dd>
<dt><%= Consumable.human_attribute_name("source")     %></dt>  <dd class="text-left"><%= @consumable.source.name %></dd>

</dl>

<%= link_to t('common.edit', name: @consumable.name), edit_object_consumable_path(@consumable) %>

<br><%= link_to 'delete', object_consumable_path(@consumable), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }  %>
