<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "campaigns/campaign_menu" %>
<% end %>

<div class="row">
    <div class="col-sm-8">
        <h2><%= @game.name %> <small>le <%= @game.played.in_time_zone("Europe/Paris").strftime("%d/%m/%Y") %></small></h2>
        <br>
        <%= simple_format @game.description, class: "well" %>
        <% if current_user_admin? || @game.game_master?(@current_user) %>
            <p><%= link_to "Modifier la partie", edit_campaign_game_path(@campaign, @game.id) %></p>
        <% end %>
        <h3>Débriefing</h3>
        <% if @game.comments.empty? %>
            <p>Il n'y a actuellement aucun commentaires</p>
        <% else %>
            <%= render @game.comments %>
        <% end %>
        <% if @current_user %>
            <%= render 'comments/form' %>
        <% else %>
            <p>Connectez-vous pour écrire un commentaire.</p>
        <% end %>
    </div>
    <div class="col-sm-4">
        <%= render "campaigns/games_list" %>
    </div>
</div>
