<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "sidebloc/login" %>
<% end %>


<div class="row">
  <h2><%= t('.title_contribute') %></h2>

  <ul>
    <li><%= link_to t('.new_weapon'),         new_object_magic_weapon_path %></li>
    <li><%= link_to t('.new_armor'),          new_object_magic_armor_path %></li>
    <li><%= link_to t('.new_implement'),      new_object_magic_implement_path %></li>
    <li><%= link_to t('.new_gear'),           new_object_magic_gear_path %></li>
    <li><%= link_to t('.new_consumable'),     new_object_consumable_path %></li>
    <li><%= link_to t('.new_feat'),           new_feat_path %></li>
    <li><%= link_to t('.new_common_weapon'),  new_object_common_weapon_path %></li>
    <li><%= link_to t('.new_common_armor'),   new_object_common_armor_path %></li>
  </ul>
</div>
