<h4>Aptitudes de classes</h4>
<div class="">
  <p>Vous disposez des aptitudes de classes obligatoires suivantes :</p>
  <div class="form-group">
  <ul>
    <% klass_features[:required].each do |feature| %>
      <li>
        <%= tooltip(feature.name, feature.description) do %>
          <%= feature.name %>
        <% end %>
      </li>
      <%= form.hidden_field("character_choice_ids[required]", value: feature.id, :multiple => true) %>
    <% end %>
  </ul>
  </div>
</div>
<% unless klass_features[:first_choice].empty? %>
  <div id="first-choice" class="">
    <p>Vous devez ensuite choisir parmi les aptitudes suivantes : </p>
    <div class="form-group">
      <div class="radio col-sm-offset-1">
        <% klass_features[:first_choice].each do |feature| %>
          <%= (render(feature.children_features) || render(feature)) if (feature.parent_feature_id.nil? || feature.parent_feature.required == 'required') %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<% if !klass_features[:second_choice].empty? && klass_features[:second_choice].first.parent_feature_id.nil? %>
  <div id="second-choice" class="">
    <p>Choisissez une aptitude parmi les propositions suivantes :</p>
    <div class="form-group">
      <div class="radio col-sm-offset-1">
        <% klass_features[:second_choice].each do |feature| %>
            <%= (render(feature.children_features) || render(feature)) if feature.parent_feature_id.nil? %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<% if !klass_features[:third_choice].empty? && klass_features[:third_choice].first.parent_feature_id.nil? %>
  <div id="third-choice" class="">
    <p>Enfin, choisissez votre dernière aptitude de classe : </p>
    <div class="form-group">
      <% if klass_features[:third_choice].size == 1 %>
        <div class="checkbox col-sm-offset-1">
          <label>
            <% klass_feature = klass_features[:third_choice].first %>
            <%= tooltip(klass_feature.name, klass_feature.description) do %>
              <% choice = klass_feature.parent_feature.try(&:required) || klass_feature.required %>
              <%= check_box_tag "character[character_choice_ids][#{choice}][]", "#{klass_feature.id}", false, {class: "choice-1"} %>
              <%= klass_feature.complete_name %>
            <% end %>
          </label>
          <br>
        </div>
      <% else %>
        <div class="radio col-sm-offset-1">
          <% klass_features[:third_choice].each do |feature| %>
            <%= (render(feature.children_features) || render(feature)) if feature.parent_feature_id.nil? %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
