<h4>Aptitudes raciales</h4>
<div class="">
  <p>Vous disposez de toutes les aptitudes raciales suivantes :</p>
  <ul>
    <% @character.race.features.required.each do |rf| %>
      <li>
        <%= tooltip(rf.name, rf.description) do %>
          <%= rf.name %></span>
        <% end %>
      </li>
      <%= form.hidden_field("character_choice_ids[required]", value: rf.id, :multiple => true) %>
    <% end %>
  </ul>
  <% unless @character.race.features.first_choice.empty? %>
    <p>Choisissez parmi les aptitudes raciales suivantes :</p>
    <div class="radio col-sm-offset-1">
    <% @character.race.features.first_choice.each do |rf| %>
      <%= tooltip(rf.name, rf.description) do %>
        <label>
          <%= radio_button_tag "character[character_choice_ids][choice_1][]", "#{rf.id}", false, {class: "choice-1"} %>
          <%= rf.name %>
        </label>
      <% end %>
        <br>
    <% end %>
    </div>
  <% end %>

</div>
