<h4>Aptitudes de classes</h4>
<% if !klass_features[:required].empty? %>
<div class="">
  <p>Vous disposez des aptitudes de classes obligatoires suivantes :</p>
  <div class="form-group">
  <ul>
    <% klass_features[:required].each do |feature| %>
      <li>
        <%= tooltip(feature.name, feature.description) do %>
          <%= feature.name %>
        <% end %>
      </li>
      <%= form.hidden_field("character_choice_ids[required]", value: feature.id, :multiple => true) %>
    <% end %>
  </ul>
  </div>
</div>
<% end %>

<% if first_choice_parent %>
  <% first_choice_text = " Votre aptitude " + tooltip(first_choice_parent.name, first_choice_parent.description) {first_choice_parent.name } + " vous permet de choisir parmi les aptitudes suivantes :" %>
<% else %>
  <% first_choice_text = "Choissisez une des aptitudes suivantes :" %>
<% end %>
  <div id="first-choice" class="">
    <p><%= first_choice_text.html_safe %></p>
    <div class="form-group">
      <div class="radio col-sm-offset-1">
        <% klass_features[:first_choice].each do |feature| %>
          <%= render(feature, parent_text: first_choice_parent.try(&:name) || '') %>
        <% end %>
      </div>
    </div>
  </div>


<% if !klass_features[:second_choice].empty? %>
  <div id="second-choice" class="">
    <% if second_choice_parent %>
      <% second_choice_text = " Votre aptitude " + tooltip(second_choice_parent.name, second_choice_parent.description) {second_choice_parent.name } + " vous permet de choisir parmi les aptitudes suivantes :" %>
    <% else %>
      <% second_choice_text = "Choissisez une des aptitudes suivantes :" %>
    <% end %>
    <p><%= second_choice_text.html_safe %></p>
    <div class="form-group">
      <div class="radio col-sm-offset-1">
        <% klass_features[:second_choice].each do |feature| %>
            <%= render(feature, parent_text: second_choice_parent.try(&:name) || '') %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if !klass_features[:third_choice].empty? %>
  <div id="third-choice" class="">
    <% if third_choice_parent %>
      <% third_choice_text = " Votre aptitude " + tooltip(third_choice_parent.name, third_choice_parent.description) {third_choice_parent.name } + " vous permet de choisir parmi les aptitudes suivantes :" %>
    <% else %>
      <% third_choice_text = "Choissisez une des aptitudes suivantes :" %>
    <% end %>
    <p><%= third_choice_text.html_safe %></p>
    <div class="form-group">
      <% if klass_features[:third_choice].size == 1 %>
        <div class="checkbox col-sm-offset-1">
          <label>
            <% klass_feature = klass_features[:third_choice].first %>
            <%= tooltip(klass_feature.name, klass_feature.description) do %>
              <% klass_feature.required %>
              <%= check_box_tag "character[character_choice_ids][#{klass_feature.required}][]", "#{klass_feature.id}", false, {class: "choice-1"} %>
              <%= klass_feature.name %>
            <% end %>
          </label>
          <br>
        </div>
      <% else %>
        <div class="radio col-sm-offset-1">
          <% klass_features[:third_choice].each do |feature| %>
            <%= render(feature, parent_text: '') %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
