<%= form_for @character, {:class => 'form-horizontal'} do |f| %>

  <h4>Informations obligatoires</h4>
  <div class="row">
    <%= input_text_form(f, :name,  Character.human_attribute_name(:name)) %>
    <%= input_text_form(f, :level, Character.human_attribute_name(:level)) %>
    <%= input_select_form(f, :race_id,  @races,  :name,  @character.race_id,  Character.human_attribute_name(:race_id),  {blank: true, size: 1}) %>
    <%= input_select_form(f, :klass_id, @klasses, :name, @character.klass_id, Character.human_attribute_name(:klass_id), {blank: true, size: 1}) %>
  </div>

  <%= f.hidden_field :user_id, value: @current_user.id %>
  <%= f.hidden_field :state, value: '' %>
  <%= submit_text_form(f) %>

<% end %>
