<% #TODO control sur check pour savoir si on vient de new ou de edit %>
<div class="row">
  <div class="form-group">
    <%= form.fields_for method do |s| %>
        <%= s.label local, class: "col-sm-4 control-label" %>
        <div class="col-sm-8">
          <%= s.label(:strength,     class: "checkbox-inline") %>&nbsp;<%= s.check_box(:strength,     {}, value ) %>
          <%= s.label(:constitution, class: "checkbox-inline") %>&nbsp;<%= s.check_box(:constitution, {}, value ) %>
          <%= s.label(:dexterity,    class: "checkbox-inline") %>&nbsp;<%= s.check_box(:dexterity,    {}, value ) %>
          <%= s.label(:intelligence, class: "checkbox-inline") %>&nbsp;<%= s.check_box(:intelligence, {}, value ) %>
          <%= s.label(:wisdom,       class: "checkbox-inline") %>&nbsp;<%= s.check_box(:wisdom,       {}, value ) %>
          <%= s.label(:charisma,     class: "checkbox-inline") %>&nbsp;<%= s.check_box(:charisma,     {}, value ) %>
          <%= s.hidden_field :kind, value: method %>
        </div>
    <% end %>
  </div>
</div>
