<%= form_for @character, {:class => 'form-horizontal'} do |f| %>

  <h4>Informations obligatoires</h4>
  <div class="row">
    <%= input_text_form(f, :name,  Character.human_attribute_name(:name)) %>
    <%= input_text_form(f, :level, Character.human_attribute_name(:level)) %>
    <%= input_select_form(f, :race_id,  @races,  :name,  @character.race_id,  Character.human_attribute_name(:race_id),  {blank: true, size: 1}) %>
    <%= input_select_form(f, :klass_id, @klasses, :name, @character.klass_id, Character.human_attribute_name(:klass_id), {blank: true, size: 1}) %>
  </div>

  <h4>Caractérisitiques <span class='small'>(initiales, sans les bonus raciaux ni de niveaux)</span></h4>
  <div class="row">
    <%= f.fields_for :initial_stat do |s| %>
      <%= s.hidden_field :kind, value: 'initial' %>
      <%= input_text_form(s, :strength,     Stat.human_attribute_name(:strength)) %>
      <%= input_text_form(s, :constitution, Stat.human_attribute_name(:constitution)) %>
      <%= input_text_form(s, :dexterity,    Stat.human_attribute_name(:dexterity)) %>
      <%= input_text_form(s, :intelligence, Stat.human_attribute_name(:intelligence)) %>
      <%= input_text_form(s, :wisdom,       Stat.human_attribute_name(:wisdom)) %>
      <%= input_text_form(s, :charisma,     Stat.human_attribute_name(:charisma)) %>
    <% end %>
  </div>

  <h4>Bonus de niveaux</h4>

  <div class="row"> <%= input_text_form(f, :parangon, Character.human_attribute_name(:parangon))  if (@character.is_paragon?) %></div>
  <div class="row"> <%= input_text_form(f, :epic,     Character.human_attribute_name(:epic))      if (@character.is_epic?) %>   </div>
  <%= render 'form_stat', form: f, method: :race_stat, local: "Bonus racial", checked: false, value: 2 %>
  <%= render 'form_stat', form: f, method: :level_4,  local: "Niveau 4",  checked: false, value: 1 %>
  <%= render 'form_stat', form: f, method: :level_8,  local: "Niveau 8",  checked: false, value: 1 %>
  <%= render 'form_stat', form: f, method: :level_11, local: "Niveau 11", checked: true , value: 1 %>
  <%= render 'form_stat', form: f, method: :level_14, local: "Niveau 14", checked: false, value: 1 %>
  <%= render 'form_stat', form: f, method: :level_18, local: "Niveau 18", checked: false, value: 1 %>
  <%= render 'form_stat', form: f, method: :level_21, local: "Niveau 21", checked: true , value: 1 %>
  <%= render 'form_stat', form: f, method: :level_24, local: "Niveau 24", checked: false, value: 1 %>
  <%= render 'form_stat', form: f, method: :level_28, local: "Niveau 28", checked: false, value: 1 %>


  <h4>Informations optionnelles</h4>
  <div class="row">
    <%= input_text_form(f, :age,        Character.human_attribute_name(:age)) %>
    <%= input_text_form(f, :height,     Character.human_attribute_name(:height)) %>
    <%= input_text_form(f, :weight,     Character.human_attribute_name(:weight)) %>
    <%= input_text_form(f, :alignment,  Character.human_attribute_name(:alignment)) %>
    <%= input_text_form(f, :divinity,   Character.human_attribute_name(:divinity)) %>
    <%= input_text_form(f, :party,      Character.human_attribute_name(:party)) %>
  </div>

  <%= f.hidden_field :user_id, value: @current_user.id %>
  <%= f.hidden_field :state, value: '' %>
  <%= submit_text_form(f) %>

<% end %>
