<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "sidebloc/character_creation" %>
<% end %>


<div class="row">
  <h3 class="col-sm-12"><%= t('characters.title_new')%></h3>
</div>

<div class="row">
  <div class="col-sm-9">
    <%= form_for @character, html: {class: 'form-horizontal'} do |f| %>
      <h4>Caractérisitiques initiales <small>(comprises entre 3 et 18)</small></h4>
      <div class="row">
        <p class="col-sm-12">Choisissez la méthode que vous souhaitez pour déterminer vos caractéristiques: </p>

        <ul>
          <%= radio_button_tag :"method-choice", 1, false, {class: "method-choice"} %>
          <label for="method-choice_1" class="simple-text">Utiliser les valeurs standards suivantes: [16, 14 , 13, 12, 11, 10], à répartir dans vos caractéristiques.</label><br>
          <%= radio_button_tag :"method-choice", 2, true, {class: "method-choice"} %>
          <label for="method-choice_2" class="simple-text">Utiliser des valeurs personnalisées, en partant de [<%= Character::DEFAULT_STATS.join(', ') %>] selon le tableau ci-contre.</label><br>
          <%= radio_button_tag :"method-choice", 3, false, {class: "method-choice"} %>
          <label for="method-choice_3" class="simple-text">Utiliser des valeurs déterminés alétoirement. Votre jet donne le résultat suivant: <%= @random_stats %>.</label>
        </ul>
        <div class="row">

          <div class="col-sm-8">
            <div id="stat-point-div" class="form-group">
              <label for="stat-points" class="col-sm-8 control-label">Points dépensés (22 max)</label>
              <div class="col-sm-4">
                <%= f.text_field "stat-points", value: 0, class: "form-control", disabled: true %>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <%= f.label :racial_stat_id, "Bonus racial", class: "col-sm-8 control-label" %>
              <div class="col-sm-4 ">
                <%= f.select :racial_stat_id, options_from_collection_for_select(@character.race.stats, :id, :to_s), {},{class: "form-control"}  %>
              </div>
            </div>
          </div>
        </div>
        <div class="row col-sm-12">
          <%= hidden_field_tag :level, @character.level  %>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th class="table-width"></th>
                <th class="small-width"></th>
                <th class="medium-width center">Valeur brute</th>
                <th class="small-width"></th>
                <th class="medium-width center">Bonus racial</th>
                <th class="small-width"></th>
                <th class="medium-width center">Valeur finale</th>
                <th class="medium-width center">Mod carac</th>
                <th class="medium-width center">Mod carac + 1/2 niv.</th>
              </tr>
            </thead>
            <tbody id="character-stats">
              <% Character::STATS.each_with_index do |s, i| %>
                <tr>
                  <td class="black-bg white-text"><%= s %></td>
                  <td class="black-bg center"><button class="btn-minus btn btn-default rounded"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button></td>
                  <td class="black-bg"><%= f.text_field "level_1_#{s}", value: Character::DEFAULT_STATS[i], class: "center stat max-width text-right", size: 1, readonly: true %></td>
                  <td class="black-bg center"><button class="btn-plus btn btn-default rounded"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></td>
                  <td><%= button_tag 0, id: "racial_stat_#{s}", class: "racial-bonus center max-width btn btn-default", disabled: true %></td>
                  <td class="center">=</td>
                  <td><button type="button" class="final-value btn btn-default max-width bold" disabled="disabled"><%= Character::DEFAULT_STATS[i] %></button></td>
                  <td><button type="button" class="mod-carac btn btn-default max-width bold" disabled="disabled">+0</button></td>
                  <td><button type="button" class="mod-carac-half_lvl btn btn-default max-width bold" disabled="disabled">+0</button></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <br>

        <% if @character.level >= 4 %>
          <h4>Caractérisitiques supplémentaires</h4>
          <div class="row col-sm-12">
            <table class="table table-bordered table-striped table-hover col-sm-12">
              <thead>
                <tr>
                  <th class="col-sm-1"></th>
                  <th class="col-sm-1">Niveau 4</th>
                  <th class="col-sm-1">Niveau 8</th>
                  <th class="col-sm-1">Niveau 11</th>
                  <th class="col-sm-1">Niveau 14</th>
                  <th class="col-sm-1">Niveau 18</th>
                  <th class="col-sm-1">Niveau 21</th>
                  <th class="col-sm-1">Niveau 24</th>
                  <th class="col-sm-1">Niveau 28</th>
                </tr>
              </thead>
              <tbody>
                <% Character::STATS.each do |s| %>
                  <tr>
                    <td><%= t(".#{s}") %></td>
                    <td><label><%= f.check_box  "level_4_#{s}"  %></label></td>
                    <td><label><%= f.check_box  "level_8_#{s}"  %></label></td>
                    <td><label><%= f.check_box  "level_11_#{s}" %></label></td>
                    <td><label><%= f.check_box  "level_14_#{s}" %></label></td>
                    <td><label><%= f.check_box  "level_18_#{s}" %></label></td>
                    <td><label><%= f.check_box  "level_21_#{s}" %></label></td>
                    <td><label><%= f.check_box  "level_24_#{s}" %></label></td>
                    <td><label><%= f.check_box  "level_28_#{s}" %></label></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>
      <%= f.hidden_field :user_id, value: @current_user.id %>
      <%#= f.hidden_field :state, value: '' %>
      <%= link_to 'Précédent', character_choose_optional_fields_path(@character.id), class: "btn btn-default" %>
      <%= submit_text_form(f) %>
    <% end %>
  </div>

  <%= render "choose_carac_infos" %>
</div>
