<%# Sidebloc content%>
<% content_for :sidebloc do %>
    <%= render "sidebloc/character_creation" %>
<% end %>

<div class="row">
  <h3 class="col-sm-12"><%= t('characters.title_new')%></h3>
</div>
<br>

<div class="row">
  <div class="col-sm-10">
    <%= form_for @character, url: character_choose_feats_path(@character.id), html: {class: 'form-horizontal'} do |f| %>
      <div class="row">
        <h4>Choix des formations de compétences de classes - <small>EN COURS DE DÉVELOPPEMENT</small></h4>
        <p>Une formation vous donne un bonus de +5 à un test de compétence.</p>

        <ul class="list-group ">
          <% if @character.race.skill %>
            <% skill_bonus = @character.race.grant_dynamic_racial_skill_bonus ? ", +2 dans une autre compétence au choix" : "" %>
            <li class="list-group-item no-border-line bg"><strong><%= Race.human_attribute_name("skill")%></strong> : <%= @character.race.skill.to_s + skill_bonus %> </li>
          <% end %>
          <% if @bonus_from_feature %>
            <li class="list-group-item no-border-line bg"><strong><%= @bonus_from_feature.name %></strong> : <%= @bonus_from_feature.description.html_safe %> </li>
          <% end %>
          <li class="list-group-item no-border-line bg"><strong>Formations de compétences</strong> : <%= display_formations(@character.klass).html_safe %> </li>
        </ul>
        <div class="col-sm-12">

          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th class="medium-width center">Bonus total</th>
                <th class="table-width center">Nom</th>
                <th class="small-width"></th>
                <th class="medium-width center">Carac</th>
                <th class="medium-width center">Carac + 1/2 niv.</th>
                <th class="medium-width center">Race</th>
                <th class="medium-width center">Formation : <span id="total-formation-allowed"><%= @character.total_formation_skills_number %><span></th>
              </tr>
            </thead>
            <tbody id="character-formation">

            <%= f.fields_for :skill_choices, @klass_formations_choices do |fc| %>
              <%= fc.hidden_field :origin, value: 'klass_formations_choices' %>
              <% @skills.each do |s, fr_skill| %>
                    <%
                      link_carac = @skill_bonus[s][:link_carac]
                      racial_bonus = @skill_bonus[s][:racial_bonus]
                      carac_bonus_plus_half_level = @skill_bonus[s][:carac_bonus_plus_half_level]
                      bg = @skill_bonus[s][:bg]
                    %>
                  <tr id="<%= s %>" class="<%= bg %> skill_row">
                    <td>
                      <button type="button" id="total_bonus_<%= s %>" class="btn btn-default btn-sm final-value max-width bold" disabled="disabled">
                        <%= count_total_skill_value(carac_bonus_plus_half_level, racial_bonus, s, @klass_formations_choices) %>
                      </button>
                    </td>
                    <td class="center"><%= fr_skill %></td>
                    <td class="center"></td>
                    <td class="center"><%= Stat.human_attribute_name(link_carac) %></td>
                    <td>
                      <button type="button" id="carac_bonus_<%= s %>" class="btn btn-default btn-sm mod-skill-half_lvl max-width bold" disabled="disabled">
                      <%= carac_bonus_plus_half_level %>
                      </button>
                    </td>
                    <td class="center">
                      <%# Cas des bonus raciaux dynamiques (+2 dans une compétence au choix) mais non choisie %>
                      <% if (@character.race.grant_dynamic_racial_skill_bonus && @race_bonus_skill_available.include?(s) && racial_bonus == 0) %>
                        <button id="char-racial-choice-btn-<%= s %>" type="button" class="btn btn-default btn-sm js-btn-skill-bonus-racial" disabled="<%= !@race_bonus_skill_choices.to_s.blank? %>">
                          <%= hidden_field_tag "racial_bonus_choice", s, disabled: true %>
                          <span class="glyphicon glyphicon-plus"></span>
                        </button>
                      <%# Cas d'un bonus racial dynamique déjà choisi %>
                      <% elsif (@character.race.grant_dynamic_racial_skill_bonus && @race_bonus_skill_available.include?(s) && racial_bonus == 2) %>
                        <button id="char-racial-choice-btn-<%= s %>" type="button" class="btn btn-info btn-sm js-btn-skill-bonus-racial" >
                          <%= hidden_field_tag "racial_bonus_choice", s, disabled: false %>
                          <span class="glyphicon glyphicon-ok"></span>
                        </button>
                      <%# Cas des bonus raciaux statiques (+2 Diplomatie, etc.) %>
                      <% else %>
                        <%= button_tag(racial_bonus, id: "racial_bonus_choice_#{s}", class: "btn btn-default", disabled: true) %>
                      <% end %>

                    </td>
                    <td class="center">
                      <%# Classe dont la compétence s est obligatoire %>
                      <% if free_required_skill(s) %>
                        <% css_btn = "btn-info prevent-default" %>
                        <% input_disabled = false %>
                        <% span_class = "glyphicon-ok" %>
                      <%# Classe dont la compétence s fait partie de la liste de compétences de classe %>
                      <% elsif @character.klass.available_skills.to_a.include?(s) %>
                        <%# La compétence a été choisie %>
                        <% if @klass_formations_choices && @klass_formations_choices.send(s) == 5 %>
                          <% css_btn = "btn-sm btn-default btn-info js-btn-skill-bonus-formation" %>
                          <% span_class = "glyphicon-ok" %>
                          <% input_disabled = true %>
                        <%# La compétence n'a pas été choisie %>
                        <% else %>
                          <% css_btn = "btn-sm btn-default js-btn-skill-bonus-formation" %>
                          <% span_class = "glyphicon-plus" %>
                          <% input_disabled = false %>
                        <% end %>
                      <%# La compétence ne fait pas partie de la liste des compétence de classe mais le personnage est un éladrin %>
                      <% elsif @character.race.name == 'Éladrin' %>
                        <%# La compétence a été choisie %>
                        <% if @klass_formations_choices && @klass_formations_choices.send(s) == 5 %>
                          <% css_btn = "btn-sm btn-default btn-info js-btn-skill-bonus-formation js-eladrin-skill-bonus" %>
                          <% span_class = "glyphicon-ok" %>
                          <% input_disabled = false %>
                        <%# La compétence n'a pas été choisie %>
                        <% else %>
                          <% css_btn = "btn-sm btn-default js-btn-skill-bonus-formation js-eladrin-skill-bonus" %>
                          <% span_class = "glyphicon-plus" %>
                          <% input_disabled = true %>
                          <% btn_disabled = "disabled" %>
                        <% end %>
                      <%# La compétence ne fait pas partie de la liste des compétence de classe %>
                      <% else %>
                        <% css_btn = "btn-default btn-sm js-btn-skill-bonus-formation" %>
                        <% span_class = "glyphicon-ban-circle" %>
                        <% input_disabled = true %>
                        <% btn_disabled = "disabled" %>
                      <% end %>
                      <button id="char-choice-btn-<%= s %>" type="button" class="btn <%= css_btn %>" <%= btn_disabled %> >
                        <%= fc.hidden_field "#{s}", value: 5, disabled: input_disabled %>
                        <span class="glyphicon <%= span_class %>"></span>
                      </button>
                    </td>
                  </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <%= link_to 'Précédent', character_choose_features_path(@character.id), class: "btn btn-default" %>
      <%= submit_text_form(f) %>
     <% end %>
  </div>
</div>
