<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "sidebloc/character_creation" %>
<% end %>

<div class="row">
  <h3 class="col-sm-12"><%= t('characters.title_new')%></h3>
</div>
<br>

<div class="row">
  <div class="col-sm-8">

    <%= form_for @character, url: character_choose_skills_path(@character.id), html: {class: 'form-horizontal'} do |form| %>
      <div class="row">
        <%= render "choose_race_features", form: form %>
      </div>
      <div class="row">
        <%= render "choose_klass_features", form: form %>
      </div>

      <%= submit_text_form(form) %>
    <% end %>
  </div>

  <div class="col-sm-4">
    <% @character.klass.features.each do |feature| %>
    <div class="row">
    <h4><%= feature.name %> :</h4>
    <p><%= !feature.description.blank? ? simple_format(feature.description) : "Pas de description disponible." %></p>
    </div>
    <% end %>
  </div>

</div>
