<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "character_creation" %>
<% end %>

<div class="row">
  <h3 class="col-sm-12"><%= t('characters.title_new')%></h3>
</div>
<br>

<div class="row">
  <div class="col-sm-8">
    <%= form_for @character, url: save_class_character_path(@character.id), html: {:class => 'form-horizontal'} do |f| %>
      <div class="row">
        <% @klasses.each do |role, klasses| %>
          <div class="col-sm-3">
            <h4><%= role.capitalize %></h4>
              <ul>
              <% klasses.each do |k| %>
                <li><%= link_to k.name, resume_klass_path(klass_id: k.id), title: k.name, remote: true %></li>
              <% end %>
              </ul>
          </div>
        <% end %>
      </div>
      <%= f.hidden_field :klass_id, value: '' %>
      <%= f.hidden_field :user_id, value: @current_user.id %>
      <%= f.hidden_field :status, value: 1 %>
      <%= link_to 'Précédent', choose_race_character_path(@character.id), class: "btn btn-default" %>
      <%= submit_text_form(f) %>
    <% end %>
  </div>
  <div id="klass_resume" class="col-sm-4">
    <%= render "klass/resume", klass: @klass unless @klass.nil?%>
  </div>
</div>
