<%# Sidebloc content%>
<% content_for :sidebloc do %>
    <%= render "character_creation" %>
<% end %>

<div class="row">
  <h3 class="col-sm-12"><%= t('characters.title_new')%></h3>
</div>
<br>

<div class="row">
  <div class="col-sm-10">
    <%= form_for @character, url: save_skills_character_path(@character.id), html: {class: 'form-horizontal'} do |f| %>
      <div class="row">
        <h4>Choix des formations de compétences de classes</h4>
        <p>Une formation vous donne un bonus de +5 à un test de compétence.</p>

        <ul class="list-group ">
          <% unless @character.race.skill_bonuses.blank? %>
            <li class="list-group-item no-border-line bg"><strong><%= Race.human_attribute_name("skill")%></strong> : <%= @character.race.resume_skill_bonuses %> </li>
          <% end %>
          <% if @bonus_from_feature %>
            <li class="list-group-item no-border-line bg"><strong><%= @bonus_from_feature.name %></strong> : <%= @bonus_from_feature.description.html_safe %> </li>
          <% end %>
          <li class="list-group-item no-border-line bg"><strong>Formations de compétences</strong> : <%= display_training(@character.klass).html_safe %> </li>
        </ul>
        <div class="col-sm-12">

          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th class="width-8 text-center">Bonus total</th>
                <th class="width-15 text-center">Nom</th>
                <th class="width-8 text-center">Carac</th>
                <th class="width-8 text-center">Carac + 1/2 niv.</th>
                <th class="width-8 text-center">Race</th>
                <th class="width-8 text-center">Formation : <span id="total-training-allowed"><%= @character.total_training_skills_number %></span></th>
              </tr>
            </thead>
            <tbody id="character-training">
              <% @char_skills.each do |skill_bonus| %>
                <%= f.fields_for :skill_bonuses, skill_bonus do |fc| %>
                    <% skill_name = skill_bonus.skill.name %>
                  <tr id="<%= skill_name %>" class="<%= @klass_choosable_skill_bonus.include?(skill_name) ? 'bg' : '' %> skill_row">
                    <td>
                      <button type="button" id="total_bonus_<%= skill_name %>" class="btn btn-default btn-sm final-value width-max bold" disabled="disabled">
                        <%= skill_bonus.ability_bonus.modifier + @character.half_level + skill_bonus.racial + skill_bonus.training %>
                      </button>
                    </td>
                    <td class="text-center"><%= Skill::SKILLS_CONVERSION_FR[skill_name] %></td>
                    <td class="text-center"><%= Stat.human_attribute_name(Skill.get_linked_carac(skill_name)) %></td>
                    <td>
                      <button type="button" id="carac_bonus_<%= skill_name %>" class="btn btn-default btn-sm mod-skill-half_lvl width-max bold" disabled="disabled">
                      <%= skill_bonus.ability_bonus.modifier + @character.half_level %>
                      </button>
                    </td>
                    <!-- Case race -->
                    <td class="text-center">
                      <%# Cas des bonus raciaux dynamiques (+2 dans une compétence au choix) non sélectionné %>
                      <% if (@character.race.grant_dynamic_racial_skill_bonus? && @race_choosable_skill_bonus.include?(skill_name) && skill_bonus.racial == 0) %>
                        <% disabled_racial_btn = @racial_bonus_already_chosen ? "disabled" : "" %>
                        <button id="char-racial-choice-btn-<%= skill_name %>" type="button" class="btn btn-default btn-sm js-btn-skill-bonus-racial" <%= disabled_racial_btn %> >
                          <%#= hidden_field_tag "racial_bonus_choice", skill_bonus.racial, disabled: true %>
                          <%= fc.hidden_field :racial, value: 0, disabled: false %>
                          <span class="glyphicon glyphicon-plus"></span>
                        </button>
                      <%# Cas du bonus racial dynamique déjà choisi %>
                      <% elsif (@character.race.grant_dynamic_racial_skill_bonus? && @race_choosable_skill_bonus.include?(skill_name) && skill_bonus.racial == 2) %>
                        <button id="char-racial-choice-btn-<%= skill_name %>" type="button" class="btn btn-info btn-sm js-btn-skill-bonus-racial" >
                          <%#= hidden_field_tag "racial_bonus_choice", skill_bonus.racial, disabled: false %>
                          <%= fc.hidden_field :racial, value: 2, disabled: false %>
                          <span class="glyphicon glyphicon-ok"></span>
                        </button>
                      <%# Cas des bonus raciaux statiques (+2 Diplomatie, etc.) %>
                      <% else %>
                        <%= button_tag(skill_bonus.racial, id: "racial_bonus_choice_#{skill_name}", class: "btn btn-default", disabled: true) %>
                      <% end %>
                    </td>
                    <!-- Case formation -->
                    <td class="text-center">
                      <%# Classe dont la compétence s est obligatoire %>
                      <% if free_required_skill(skill_name) %>
                        <% css_btn = "btn-info prevent-default js-chosen-skill" %>
                        <% input_disabled = false %>
                        <% span_class = "glyphicon-ok" %>
                      <%# Classe dont la compétence s fait partie de la liste de compétences de classe %>
                      <% elsif @klass_choosable_skill_bonus.include?(skill_name) %>
                        <%# La compétence a été choisie %>
                        <% if skill_bonus.training == 5 %>
                          <% css_btn = "btn-sm btn-default btn-info js-btn-training-skill-bonus js-chosen-skill" %>
                          <% span_class = "glyphicon-ok" %>
                          <% input_disabled = false %>
                        <%# La compétence n'a pas été choisie %>
                        <% else %>
                          <% css_btn = "btn-sm btn-default js-btn-training-skill-bonus" %>
                          <% span_class = "glyphicon-plus" %>
                          <% input_disabled = false %>
                        <% end %>
                      <%# La compétence ne fait pas partie de la liste des compétences de classe mais le personnage est un éladrin %>
                      <% elsif @character.race.name == 'Éladrin' %>
                        <%# La compétence a été choisie %>
                        <% if @character_chosen_training_skill[skill_name] == 5 %>
                          <% css_btn = "btn-sm btn-default btn-info js-btn-training-skill-bonus js-eladrin-skill-bonus js-chosen-skill" %>
                          <% span_class = "glyphicon-ok" %>
                          <% input_disabled = false %>
                        <%# La compétence n'a pas été choisie %>
                        <% else %>
                          <% css_btn = "btn-sm btn-default js-btn-training-skill-bonus js-eladrin-skill-bonus" %>
                          <% span_class = "glyphicon-plus" %>
                          <% input_disabled = false %>
                          <% btn_disabled = "" %>
                        <% end %>
                      <%# La compétence ne fait pas partie de la liste des compétence de classe %>
                      <% else %>
                        <% css_btn = "btn-default btn-sm js-btn-training-skill-bonus" %>
                        <% span_class = "glyphicon-ban-circle" %>
                        <% input_disabled = true %>
                        <% btn_disabled = "disabled" %>
                      <% end %>
                      <button id="char-choice-btn-<%= skill_name %>" type="button" class="btn <%= css_btn %>" <%= btn_disabled %> >
                        <%= fc.hidden_field :training, value: skill_bonus.training, disabled: input_disabled %>
                        <span class="glyphicon <%= span_class %>"></span>
                      </button>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <%= link_to 'Précédent', choose_features_character_path(@character.id), class: "btn btn-default" %>
      <%= submit_text_form(f) %>
     <% end %>
  </div>
</div>
