<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "sidebloc/character_creation" %>
<% end %>

<div class="row">
  <h3 class="col-sm-12"><%= t('characters.title_new')%></h3>
</div>
<br>

<div class="row">
  <div class="col-sm-12">

    <%= form_for @character, url: save_features_character_path(@character.id), html: {class: 'form-horizontal'} do |form| %>
      <div class="row">
        <%= render "choose_race_features", form: form, race_features: @race_features %>
      </div>
      <div class="row">
        <%= render "choose_klass_features", form: form, klass_features: @klass_features %>
      </div>

      <%= link_to 'Précédent', choose_abilities_character_path(@character.id), class: "btn btn-default" %>
      <%= submit_text_form(form) %>
    <% end %>
  </div>

</div>
