<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "sidebloc/character_creation" %>
<% end %>


<div class="row">
  <h3 class="col-sm-12"><%= t('characters.title_new')%></h3>
</div>

<div class="row">
  <div class="col-sm-9">
    <%= form_for @character, url: character_choose_features_path(@character.id), html: {class: 'form-horizontal'} do |f| %>
      <h4>Caractérisitiques initiales <small>(comprises entre 3 et 18)</small></h4>
      <div class="row">
        <p class="col-sm-12">Choisissez la méthode que vous souhaitez pour déterminer vos caractéristiques: </p>

        <ul>
          <%= radio_button_tag :"method-choice", 1, false, {class: "method-choice"} %>
          <label for="method-choice_1" class="simple-text">Utiliser les valeurs standards suivantes: [16, 14 , 13, 12, 11, 10], à répartir dans vos caractéristiques.</label><br>
          <%= radio_button_tag :"method-choice", 2, true, {class: "method-choice"} %>
          <label for="method-choice_2" class="simple-text">Utiliser des valeurs personnalisées, en partant de [<%= Character::DEFAULT_STATS.join(', ') %>] selon le tableau ci-contre.</label><br>
          <%= radio_button_tag :"method-choice", 3, false, {class: "method-choice"} %>
          <label for="method-choice_3" class="simple-text">Utiliser des valeurs déterminés alétoirement. Votre jet donne le résultat suivant: <%= @random_stats %>.</label>
        </ul>
        <div class="row">

          <div class="col-sm-8">
            <div id="stat-point-div" class="form-group">
              <label for="stat-points" class="col-sm-8 control-label">Points dépensés (22 max)</label>
              <div class="col-sm-4">
                <%= f.text_field "stat-points", value: 0, class: "form-control", disabled: true %>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <%= f.label :racial_stat_id, "Bonus racial", class: "col-sm-8 control-label" %>
              <div class="col-sm-4 ">
                <%= f.select :racial_stat_id, options_for_select(@character.race.ability_to_a, @racial_bonus_chosen), {}, {class: "form-control"}  %>
              </div>
            </div>
          </div>
        </div>
        <div class="row col-sm-12">
          <%= hidden_field_tag :level, @character.level  %>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th class="table-width"></th>
                <th class="small-width"></th>
                <th class="medium-width center">Valeur brute</th>
                <th class="small-width"></th>
                <th class="medium-width center">Bonus racial</th>
                <th class="medium-width center">Bonus niv.</th>
                <th class="small-width"></th>
                <th class="medium-width center">Valeur finale</th>
                <th class="medium-width center">Mod carac</th>
                <th class="medium-width center">Mod carac + 1/2 niv.</th>
              </tr>
            </thead>
            <tbody id="character-stats">
              <% @char_abilities.each_with_index do |ability_bonus, i| %>
                <%= f.fields_for :ability_bonuses, ability_bonus do |ff| %>
                <tr>
                  <td class="black-bg white-text"><%= Stat.human_attribute_name ability_bonus.ability.name %></td>

                  <td class="black-bg center"><button class="btn-minus btn btn-default rounded"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button></td>
                  <td class="black-bg"><%= ff.text_field :initial_value, class: "center stat max-width text-right", size: 1 %></td>
                  <td class="black-bg center"><button class="btn-plus btn btn-default rounded"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></td>

                  <td>
                    <%#= button_tag 0, id: "racial_stat_#{ability_bonus.ability.name}", class: "racial-bonus center max-width btn btn-default", disabled: true %>
                    <%= button_tag ability_bonus.bonus_racial, id: "racial_stat_#{ability_bonus.ability.name}", class: "js-racial-bonus center max-width btn btn-default", disabled: true %>
                    <%= ff.hidden_field :bonus_racial, value: ability_bonus.bonus_racial, class: "js-racial-bonus-field" %>
                  </td>
                  <td><%= button_tag ability_bonus.total_bonus_level, id: "total_bonus_level_stat_#{ability_bonus.ability.name}", class: "total-bonus-level-stat center max-width btn btn-default", disabled: true %></td>

                  <% temp_total_value = ability_bonus.initial_value + ability_bonus.bonus_racial + ability_bonus.total_bonus_level %>
                  <td class="center">=</td>
                  <td><button type="button" class="final-value btn btn-default max-width bold" disabled="disabled"><%= temp_total_value %></button></td>
                  <td><button type="button" class="mod-carac btn btn-default max-width bold" disabled="disabled"><%= ability_bonus.modifier(temp_total_value) %></button></td>
                  <td><button type="button" class="mod-carac-half_lvl btn btn-default max-width bold" disabled="disabled"><%= ability_bonus.modifier(temp_total_value) + (@character.level / 2).floor %></button></td>
                </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
        <br>

        <% if @character.level >= 4 %>
          <h4>Caractérisitiques supplémentaires</h4>
          <p>Vous pouvez ajouter 1 point dans deux de vos caractéristiques aux niveau 4, 8, 14, 18, 24, 28.<br>Au niveau 11 et 21, vous gagnez 1 point dans chaque caractéristiques</p>
          <div class="row col-sm-12">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th class="center"></th>
                  <th class="center">Niv. 4</th>
                  <th class="center">Niv. 8</th>
                  <th class="center">Niv. 11</th>
                  <th class="center">Niv. 14</th>
                  <th class="center">Niv. 18</th>
                  <th class="center">Niv. 21</th>
                  <th class="center">Niv. 24</th>
                  <th class="center">Niv. 28</th>
                </tr>
              </thead>
              <tbody id="level-bonus-stats">
                <% Character::STATS.each do |s| %>
                  <tr class="<%= s %>">
                    <td class="black-bg white-text"><%= Stat.human_attribute_name s %></td>
                    <td class="center">
                      <button type="button" class="btn btn-default btn-bonus-carac">
                        <%= f.hidden_field "level_4_#{s}", value: @character.send("level_4_#{s}"), class: "level_4 bonus-carac" %>
                        <span class="glyphicon glyphicon-plus"></span>
                      </button>
                    </td>
                    <td class="center">
                    <% if @character.level >= 8 %>
                      <button type="button" class="btn btn-default btn-bonus-carac">
                        <%= f.hidden_field "level_8_#{s}", value: @character.send("level_8_#{s}"), class: "level_8 bonus-carac" %>
                        <span class="glyphicon glyphicon-plus"></span>
                      </button>
                    <% else %>
                      <button type="button" class="btn btn-default btn-bonus-carac" disabled>
                        <%= f.hidden_field "level_8_#{s}", value: 0, class: "bonus-carac" %>
                        <span class="glyphicon glyphicon-remove"></span>
                      </button>
                    <% end %>
                    </td>
                    <td class="center">
                    <% if @character.level >= 11 %>
                      <button type="button" class="btn btn-info active prevent-default">
                        <%= f.hidden_field "level_11_#{s}", value: "1", class: "bonus-carac" %>
                        <span class="glyphicon glyphicon-ok"></span>
                      </button>
                    <% else %>
                      <button type="button" class="btn btn-default btn-bonus-carac" disabled>
                        <%= f.hidden_field "level_11_#{s}", value: 0, class: "bonus-carac" %>
                        <span class="glyphicon glyphicon-remove"></span>
                      </button>
                    <% end %>
                    </td>
                    <td class="center">
                    <% if @character.level >= 14 %>
                      <button type="button" class="btn btn-default btn-bonus-carac">
                        <%= f.hidden_field "level_14_#{s}", value: @character.send("level_14_#{s}"), class: "level_14 bonus-carac" %>
                        <span class="glyphicon glyphicon-plus"></span>
                      </button>
                    <% else %>
                      <button type="button" class="btn btn-default btn-bonus-carac" disabled>
                        <%= f.hidden_field "level_14_#{s}", value: 0, class: "bonus-carac" %>
                        <span class="glyphicon glyphicon-remove"></span>
                      </button>
                    <% end %>
                    </td>
                    <td class="center">
                    <% if @character.level >= 18 %>
                      <button type="button" class="btn btn-default btn-bonus-carac">
                        <%= f.hidden_field "level_18_#{s}", value: @character.send("level_18_#{s}"), class: "level_18 bonus-carac" %>
                        <span class="glyphicon glyphicon-plus"></span>
                      </button>
                    <% else %>
                      <button type="button" class="btn btn-default btn-bonus-carac" disabled>
                        <%= f.hidden_field "level_18_#{s}", value: 0, class: "bonus-carac" %>
                        <span class="glyphicon glyphicon-remove"></span>
                      </button>
                    <% end %>
                    </td>
                    <td class="center">
                    <% if @character.level >= 21 %>
                      <button type="button" class="btn btn-info active prevent-default">
                        <%= f.hidden_field "level_21_#{s}", value: "1", class: "bonus-carac" %>
                        <span class="glyphicon glyphicon-ok"></span>
                      </button>
                    <% else %>
                      <button type="button" class="btn btn-default btn-bonus-carac" disabled>
                        <%= f.hidden_field "level_21_#{s}", value: 0, class: "bonus-carac" %>
                        <span class="glyphicon glyphicon-remove"></span>
                      </button>
                    <% end %>
                    </td>
                    <td class="center">
                    <% if @character.level >= 24 %>
                      <button type="button" class="btn btn-default btn-bonus-carac">
                        <%= f.hidden_field "level_24_#{s}", value: @character.send("level_24_#{s}"), class: "level_24 bonus-carac" %>
                        <span class="glyphicon glyphicon-plus"></span>
                      </button>
                    <% else %>
                      <button type="button" class="btn btn-default btn-bonus-carac" disabled>
                        <%= f.hidden_field "level_24_#{s}", value: 0, class: "bonus-carac" %>
                        <span class="glyphicon glyphicon-remove"></span>
                      </button>
                    <% end %>
                    </td>
                    <td class="center">
                    <% if @character.level >= 28 %>
                      <button type="button" class="btn btn-default btn-bonus-carac">
                        <%= f.hidden_field "level_28_#{s}", value: @character.send("level_28_#{s}"), class: "level_28 bonus-carac" %>
                        <span class="glyphicon glyphicon-plus"></span>
                      </button>
                    <% else %>
                      <button type="button" class="btn btn-default btn-bonus-carac" disabled>
                        <%= f.hidden_field "level_28_#{s}", value: 0, class: "bonus-carac" %>
                        <span class="glyphicon glyphicon-remove"></span>
                      </button>
                    <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>
      <%= f.hidden_field :user_id, value: @current_user.id %>
      <%#= f.hidden_field :state, value: '' %>
      <%= link_to 'Précédent', character_choose_optional_fields_path(@character.id), class: "btn btn-default" %>
      <%= submit_text_form(f) %>
    <% end %>
  </div>

  <%= render "choose_carac_infos" %>
</div>
