<%# Sidebloc content%>
<% content_for :sidebloc do %>
    <%= render "sidebloc/character_creation" %>
<% end %>

<div class="row">
  <h3 class="col-sm-12"><%= t('characters.title_new')%></h3>
</div>
<br>

<div class="row">
  <div class="col-sm-10">
    <%= form_for @character, url: character_choose_feats_path(@character.id), html: {class: 'form-horizontal'} do |f| %>
      <div class="row">
        <h4>Choix des formations de compétences de classes - <small>EN COURS DE DÉVELOPPEMENT</small></h4>
        <p>Une formation vous donne un bonus de +5 à un test de compétence.</p>

        <% if @character.klass.name == 'Rôdeur'  %>
          <p>En tant que rôdeur, vous bénéficiez gratuitement soit d'Exploration, soit de Nature.</p>
        <% elsif @character.klass.name == 'Voleur' %>
          <p>En tant que voleur, vous bénéficiez gratuitement soit de Discrétion, soit de Larcin.</p>
        <% end %>

        <% if @character.race.name == 'Éladrin' %>
          <p>En tant qu'éladrin, vous pouvez choisir une compétence supplémentaire (non limité à votre liste de classe).</p>
        <% elsif @character.race.name == 'Humain' %>
          <p>En tant qu'humain, vous pouvez choisir une formation supplémentaire (limité à votre liste de classe).</p>
        <% elsif @character.race.grant_dynamic_racial_skill_bonus %>
          <p>En tant que <%= @character.race.name.downcase %>, vous bénéficiez d'un bonus racial de +2 dans une autre compétence.</p>
        <% end %>

        <p>Sélectionnez <%= @character.klass.skills_number %> formations dans votre liste de compétences de classe :</p>
        <div class="col-sm-12">

          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th class="medium-width center">Bonus total</th>
                <th class="table-width center">Nom</th>
                <th class="small-width"></th>
                <th class="medium-width center">Carac</th>
                <th class="medium-width center">Carac + 1/2 niv.</th>
                <th class="medium-width center">Race</th>
                <th class="medium-width center">Formation</th>
              </tr>
            </thead>
            <tbody id="character-formation">

            <%= f.fields_for :skill_choices, @klass_formations_choices do |fc| %>
              <%= fc.hidden_field :origin, value: 'klass_formations_choices' %>
              <% @skills.each do |s, fr_skill| %>
                    <%
                      link_carac = Skill.get_linked_carac(s)
                      racial_bonus = @character.race.skill.send(s) + @race_bonus_skill_choices.send(s)
                      carac_half_level = count_comp_bonus_carac_level(s, link_carac)
                      # TODO prendre en compte la formation avec Javascript
                    %>
                  <tr id="<%= s %>" class="skill_row">
                    <td>
                      <button type="button" id="total_bonus_<%= s %>" class="btn btn-default btn-sm final-value btn btn-default max-width bold" disabled="disabled">
                        <%= carac_half_level + racial_bonus + @klass_formations_choices.send(s) %>
                      </button>
                    </td>
                    <td class="center"><%= fr_skill %></td>
                    <td class="center"></td>
                    <td class="center"><%= Stat.human_attribute_name(link_carac) %></td>
                    <td>
                      <button type="button" id="carac_bonus_<%= s %>" class="btn btn-sm mod-skill-half_lvl btn btn-default max-width bold" disabled="disabled">
                      <%= carac_half_level %>
                      </button>
                    </td>
                    <td class="center">
                      <%# Cas des bonus raciaux dynamiques (+2 dans une compétence au choix) mais non choisie %>
                      <% if (@character.race.grant_dynamic_racial_skill_bonus && @race_bonus_skill_available.include?(s) && racial_bonus == 0) %>
                        <button id="char-racial-choice-btn-<%= s %>" type="button" class="btn btn-default btn-sm js-btn-skill-bonus-racial" disabled="<%= !@race_bonus_skill_choices.to_s.blank? %>">
                          <%= hidden_field_tag "racial_bonus_choice", s, disabled: true %>
                          <span class="glyphicon glyphicon-plus"></span>
                        </button>
                      <%# Cas d'un bonus racial dynamique déjà choisi %>
                      <% elsif (@character.race.grant_dynamic_racial_skill_bonus && @race_bonus_skill_available.include?(s) && racial_bonus == 2) %>
                        <button id="char-racial-choice-btn-<%= s %>" type="button" class="btn btn-info btn-sm js-btn-skill-bonus-racial" >
                          <%= hidden_field_tag "racial_bonus_choice", value: s, disabled: true %>
                          <span class="glyphicon glyphicon-ok"></span>
                        </button>
                      <%# Cas des bonus raciaux statiques (+2 Diplomatie, etc.) %>
                      <% else %>
                        <%= button_tag(racial_bonus, id: "racial_bonus_choice_#{s}", class: "btn btn-default", disabled: true) %>
                      <% end %>

                    </td>
                    <td class="center">
                      <% if @character.klass.available_skills.to_a.include?(s) %>
                        <% if @klass_formations_choices && @klass_formations_choices.send(s) == 5 %>
                          <button id="char-choice-btn-<%= s %>" type="button" class="btn btn-default btn-sm btn-info btn-skill-bonus-formation">
                            <%= fc.hidden_field "#{s}", value: 5, disabled: false %>
                            <span class="glyphicon glyphicon-ok"></span>
                          </button>
                        <% else %>
                          <button id="char-choice-btn-<%= s %>" type="button" class="btn btn-default btn-sm btn-skill-bonus-formation">
                            <%= fc.hidden_field "#{s}", value: 0, disabled: true %>
                            <span class="glyphicon glyphicon-plus"></span>
                          </button>
                        <% end %>
                      <% else %>
                        <button id="char-choice-btn-<%= s %>" type="button" class="btn btn-default btn-sm btn-skill-bonus-formation" disabled>
                          <%#= fc.hidden_field "#{s}", value: 5, disabled: true %>
                          <span class="glyphicon glyphicon-ban-circle"></span>
                        </button>
                      <% end %>
                    </td>
                  </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
     <% end %>
      <%= link_to 'Précédent', character_choose_features_path(@character.id), class: "btn btn-default" %>
      <%= submit_text_form(f) %>
     <% end %>
  </div>
</div>
