<%# Sidebloc content%>
<% content_for :sidebloc do %>
    <%= render "characters_list" %>
    <%= render "wish_list" %>
<% end %>

<% half_level = @character.half_level %>

<div class="row">
    <h2 class="col-sm-8">
        <span class="underline"><%= @character.name %>
        <small><%= @character.race.try(:name) %> <%= @character.klass.try(:name) %> de niveau <%= @character.level %> (<%= @character.experience %> exp.)</small></span>
    </h2>
    <p class="col-sm-8">
        <small>
            Voie parangonique : <%= @character.parangon || 'aucune' %>, destinée épique : <%= @character.epic || 'aucune' %>.<br>
            Age : <%= @character.age %>,
            catégorie de taille : <%= @character.race.cat_size %>,
            taille : <%= @character.height %>,
            poids : <%= @character.weight %> Kg.<br>
            Dieu : <%= @character.god.try(&:name) %>,
            alignement : <%= @character.alignment %>,
            vision : <%= @character.race.vision %>.<br>
            Langues connus : <%= @show_languages %>.
            Groupe : <%= @character.party %>
        </small>
    </p>
    <%= image_tag(@character.avatar.character_sheet.url, class: "media-object img-responsive", alt: @character.name) %>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="row">
            <h4 class="col-sm-12 black-bg white-text">Caractéristiques</h4>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th class="center thin-text">Valeur</th>
                    <th class="center thin-text">Caractéristique</th>
                    <th class="center thin-text">Mod carac</th>
                    <th class="center thin-text">Mod carac<br> + 1/2 niv.</th>
                </tr>
                </thead>
                <tbody>
                    <% @abilities.each do |ability| %>
                    <tr>
                        <td><button type="button" class="large-text rounded max-width btn btn-default btn-sm bold" disabled="disabled"><%= ability.total_value %></button></td>
                        <td class="black-bg white-text center"><%= Stat.human_attribute_name ability.ability.name %></td>
                        <td><button type="button" class="max-width btn btn-default btn-sm bold" disabled="disabled"><%= pretty_modifier(ability.modifier) %></button></td>
                        <td><button type="button" class="max-width btn btn-default btn-sm bold" disabled="disabled"><%= pretty_modifier(ability.modifier + half_level) %></button></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-5">
        <div class="row">
            <h4 class="col-sm-12 black-bg white-text">Défenses</h4>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th class="center thin-text"><small>Valeur</small></th>
                        <th class="center thin-text"><small>Défense</small></th>
                        <th class="center thin-text"><small>10</small></th>
                        <th class="center thin-text"><small>Armure / Carac. + &nbsp;1/2 niv.</small></th>
                        <th class="center thin-text"><small>Race /<br>Classe</small></th>
                        <th class="center thin-text"><small>Talent</small></th>
                        <th class="center thin-text"><small>Alté.</small></th>
                        <th class="center thin-text"><small>Bouclier</small></th>
                        <th class="center thin-text"><small>Divers</small></th>
                    </tr>
                </thead>
                <tbody>
                    <% @defenses.each do |defense, bonus| %>
                        <tr>
                            <% total_defense = 10 + half_level + bonus.modifier + bonus.bonus_racial + bonus.bonus_klass %>
                            <td><button type="button" class="large-text rounded max-width btn btn-default btn-sm bold" disabled="disabled"><%= total_defense %></button></td>
                            <td class="black-bg white-text center"><%= defense %></td>
                            <td><button type="button" class="max-width btn btn-default btn-sm bold" disabled="disabled">10</button></td>
                            <td><button type="button" class="max-width btn btn-default btn-sm bold" disabled="disabled"><%= half_level + bonus.modifier %></button></td>
                            <td><button type="button" class="max-width btn btn-default btn-sm bold" disabled="disabled"><%= bonus.bonus_racial + bonus.bonus_klass %></button></td>
                            <td><button type="button" class="max-width btn btn-default btn-sm bold" disabled="disabled">0</button></td>
                            <td><button type="button" class="max-width btn btn-default btn-sm bold" disabled="disabled">0</button></td>
                            <td><button type="button" class="max-width btn btn-default btn-sm bold" disabled="disabled">0</button></td>
                            <td><button type="button" class="max-width btn btn-default btn-sm bold" disabled="disabled">0</button></td>
                        </tr>
                        <tr>
                            <td colspan=9 class="thin-text">Bonus conditionnels : N/A</td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="row">
            <h4 class="col-sm-12 black-bg white-text">Initiative</h4>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th class="center thin-text"><small>Valeur</small></th>
                        <th class="center thin-text"><small></small></th>
                        <th class="center thin-text"><small>Dex</small></th>
                        <th class="center thin-text"><small>1/2 niv.</small></th>
                        <th class="center thin-text"><small>Race</small></th>
                        <th class="center thin-text"><small>Divers</small></th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td><button type="button" class="large-text max-width btn btn-default btn-sm bold" disabled="disabled"><%= half_level %></button></td>
                            <td class="black-bg white-text center">Initiative</td>
                            <td><button type="button" class="max-width btn btn-default btn-sm bold" disabled="disabled">-1</button></td>
                            <td><button type="button" class="max-width btn btn-default btn-sm bold" disabled="disabled"><%= half_level %></button></td>
                            <td><button type="button" class="max-width btn btn-default btn-sm bold" disabled="disabled">0</button></td>
                            <td><button type="button" class="max-width btn btn-default btn-sm bold" disabled="disabled">0</button></td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
        <div class="row">
            <h4 class="col-sm-12 black-bg white-text">Mouvement</h4>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th class="center thin-text"><small>Valeur</small></th>
                        <th class="center thin-text"><small></small></th>
                        <th class="center thin-text"><small>Base</small></th>
                        <th class="center thin-text"><small>Armure</small></th>
                        <th class="center thin-text"><small>Objet</small></th>
                        <th class="center thin-text"><small>Divers</small></th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td><button type="button" class="large-text max-width btn btn-default btn-sm bold" disabled="disabled"><%= @character.race.speed %></button></td>
                            <td class="black-bg white-text center">VD</td>
                            <td><button type="button" class="max-width btn btn-default btn-sm bold" disabled="disabled"><%= @character.race.speed %></button></td>
                            <td><button type="button" class="max-width btn btn-default btn-sm bold" disabled="disabled">0</button></td>
                            <td><button type="button" class="max-width btn btn-default btn-sm bold" disabled="disabled">0</button></td>
                            <td><button type="button" class="max-width btn btn-default btn-sm bold" disabled="disabled">0</button></td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-4">
        <div class="row">
            <h4 class="col-sm-12 black-bg white-text">Compétences</h4>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th class="center thin-text">Bonus</th>
                    <th class="center thin-text">Nom</th>
                    <th class="center thin-text"></th>
                    <th class="center thin-text">Mod carac<br> + 1/2 niv.</th>
                    <th class="center thin-text">Race</th>
                    <th class="center thin-text">Form</th>
                    <th class="center thin-text">Malus</th>
                    <th class="center thin-text">Divers</th>
                </tr>
                </thead>
                <tbody>
                    <% @skill_bonuses.each do |skill| %>
                    <tr class="<%= @klass_choosable_skill_bonus.include?(skill.skill.name) ? 'bg' : '' %>">
                        <% total_skill_bonus = pretty_modifier(skill.ability_bonus.modifier + @character.half_level + skill.racial + skill.training) %>
                        <td><button type="button" class="large-text rounded max-width btn btn-default btn-sm bold" disabled="disabled"><%= total_skill_bonus %></button></td>
                        <td class="thin-text text-left vertical-centered"><%= Skill::SKILLS_CONVERSION_FR[skill.skill.name] %></td>
                        <td class="thin-text text-left vertical-centered"><%= Stat.human_attribute_name(Skill.get_linked_carac(skill.skill.name)).first(3) %></td>
                        <td><button type="button" class="max-width btn btn-default btn-sm bold" disabled="disabled"><%= pretty_modifier(skill.ability_bonus.modifier + half_level) %></button></td>
                        <td><button type="button" class="max-width btn btn-default btn-sm bold" disabled="disabled"><%= pretty_modifier(skill.racial) %></button></td>
                        <td><button type="button" class="max-width btn btn-default btn-sm bold" disabled="disabled"><%= pretty_modifier(skill.training) %></button></td>
                        <td><button type="button" class="max-width btn btn-default btn-sm bold" disabled="disabled">0</button></td>
                        <td><button type="button" class="max-width btn btn-default btn-sm bold" disabled="disabled">0</button></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-5">
        <div class="row">
            <h4 class="col-sm-12 black-bg white-text">What else ?</h4>

        </div>
    </div>
</div>



<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-sm-8">

        <dl class="dl-horizontal">
        <% @character.race_choices.each do |rc| %>
            <dt><%= "APT RACE"%></dt>  <dd> <%= rc.feature.name %></dd>
        <% end %>
        <% @character.klass_choices.each do |rc| %>
            <dt><%= "APT Classe"%></dt>  <dd> <%= rc.feature.name %></dd>
        <% end %>
        </dl>

        <% if @character.user == @current_user %>
            <%= link_to "Modifier mes campagnes", edit_character_path(@character.id) %><br>
            <%= link_to "Modifier race", choose_race_character_path(@character.id) %><br>
            <%= link_to "Modifier classe", choose_class_character_path(@character.id) %><br>
            <%= link_to "Modifier infos", choose_optional_fields_character_path(@character.id) %><br>
            <%= link_to "Modifier caractéristiques", choose_abilities_character_path(@character.id) %><br>
            <%= link_to "Modifier aptitudes", choose_features_character_path(@character.id) %><br>
            <%= link_to "Modifier compétences", choose_skills_character_path(@character.id) %><br>
            <br>
            <%= link_to "SUPPRIMER PERSONNAGE", character_path(@character.id), method: :delete %><br>
        <% end %>
    </div>
</div>
