<%= form_for @search, {url: url, method: :get, class: 'form-inline'} do |form| %>

  <div class="form-group col-xs-4">
    <%= form.label(:name, t('magic.name'), :class=>"col-sm-4") %>
    <div class="col-sm-8">
      <%= form.text_field(:name, :class=>"form-control") %>
    </div>
  </div>

  <div class="form-group col-xs-4">
    <%= form.label(:object_levels, t('magic.object_levels'), :class=>"col-sm-4") %>
    <div class="col-sm-8">
      <%= form.text_field(:object_levels, :class=>"form-control") %>
    </div>
  </div>

  <% if @kind == 'weapons' %>
  <div class="form-group col-xs-4">
    <% default_options =  params["magic_item_search"]["weapon_groups"] if params["magic_item_search"]%>
    <%= form.label(:weapon_groups, t('common.weapon_groups'), :class=>"col-sm-4") %>
    <div class="col-sm-8">
      <%= form.select :weapon_groups, options_from_collection_for_select(@weapon_groups, :id, :name, default_options), {:include_blank => 'Tous'}, {:multiple => true, :size => 3, :class=>"form-control"} %>
    </div>
  </div>
  <% end %>


  <% if @kind == 'armors' %>
  <div class="form-group col-xs-4">
    <% default_options =  params["magic_item_search"]["armor_categories"] if params["magic_item_search"]%>
    <%= form.label(:armor_categories, t('common.armor_categories'), :class=>"col-sm-4") %>
    <div class="col-sm-8">
      <%= form.select :armor_categories, options_from_collection_for_select(@armor_categories, :id, :name, default_options),{:include_blank => 'Tous'}, {:multiple => true, :size => 3, :class=>"form-control"} %>
    </div>
  </div>
  <% end %>


  <% if @kind == 'implements' %>
  <div class="form-group col-xs-4">
    <% default_options =  params["magic_item_search"]["implement_group"] if params["magic_item_search"]%>
    <%= form.label(:implement_group, "Groupes de focaliseurs:", :class=>"col-sm-4") %>
    <div class="col-sm-8">
      <%= form.select :implement_group, options_from_collection_for_select(@implement_groups, :id, :name, default_options),{:include_blank => 'Tous'}, {:class=>"form-control"}  %>
    </div>
  </div>
  <% end %>

  <% if @kind == 'gears' %>

  <div class="form-group col-xs-4">
    <% default_options =  params["magic_item_search"]["location"] if params["magic_item_search"]%>
    <%= form.label(:location, "Emplacement d'objets:", :class=>"col-sm-4") %>
    <div class="col-sm-8">
      <%= form.select :location, options_from_collection_for_select(@locations, :id, :name, default_options),{:include_blank => 'Tous'}, {multiple: true, size: 3, :class=>"form-control"}  %>
    </div>
  </div>
  <% end %>

  <div class="form-group col-xs-4">
    <% default_source =  params["magic_item_search"]["source"] if params["magic_item_search"]%>
    <%= form.label(:source, t('common.source'), :class=>"col-sm-4") %>
    <div class="col-sm-8">
      <%= form.select :source, options_from_collection_for_select(@sources, :id, :name, default_source), {:include_blank => 'Tous'}, {:multiple => false, :class=>"form-control"}  %>
    </div>
  </div>

  <div class="form-group col-xs-4">
    <% default_rarity =  params["magic_item_search"]["rarity"] if params["magic_item_search"]%>
    <%= form.label(:rarity, t('magic_item.rarity'), :class=>"col-sm-4") %>
    <div class="col-sm-8">
      <%= form.select :rarity, options_for_select(MagicItem.rarity_names_for_select, selected: default_rarity), {:include_blank => 'Tous'}, {:multiple => false, :class=>"form-control"}  %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-8">
      <%= form.submit t("common.validate"), :class => "btn btn-default" %>
      <%= link_to t("common.reset"), weapons_object_magic_items_path, :class => "btn btn-default" %>
      </div>
  </div>

<% end %>
