<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info items, {model: "Objets magiques"} %>
    </div>
    <%= will_paginate items, :container => false %>
</div>

<div class="table-responsive">
  <table  class="table table-striped table-bordered table-hover">
    <tr>
      <th class="col-sm-1"><%= t('magic.name')            %></th>
      <th class="col-sm-1"><%= t('common.weapon_groups')  %></th>
      <th class="col-sm-1"><%= t('common.armor_categories')%></th>
      <th class="col-sm-1"><%= t('magic.implement_groups')    %></th>
      <th class="col-sm-1"><%= t('magic.gear.location') %></th>
      <th class="col-sm-1"><%= t('magic.level_min')       %></th>
      <th class="col-sm-1"><%= t('magic.property')        %></th>
      <th class="col-sm-1"><%= t('magic.power')           %></th>
      <th class="col-sm-1"><%= t('magic.rarity')           %></th>
      <th class="col-sm-1"><%= t('magic.source')          %></th>
    </tr>
  <% items.each do |i| %>
    <tr>
      <td><%= link_to i.name, object_magic_item_path(i.id)  %></td>
      <td><%= display_weapon_group(i.weapon_groups) %></td>
      <td>
        <% i.armor_categories.each do |c| %>
          <%= c.name %></br>
        <% end %>
      </td>
      <td>
        <% i.implement_groups.each do |g| %>
          <%= g.name %></br>
        <% end %>
      </td>
      <td><%= i.location.name %> </td>
      <td><%= i.object_level_ids.min %> </td>
      <td><%= display_first_words i.property %> </td>
      <td><%= display_first_words i.power %> </td>
      <td><%= i.rarity %> </td>
      <td><%= i.source.name %> </td>
      <!-- <td><%#= link_to 'x', object_magic_weapon_path(i.id), method: :delete %></td> -->
    </tr>
  <% end %><!-- Fin communs -->
  </table>
</div>

<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info items, {model: "Objets magiques"} %>
    </div>
    <%= will_paginate items, :container => false %>
</div>
