<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "sidebloc/objects_menu" %>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading bg-title">
    <h3 class="panel-title"><strong><%= @item.name %></strong><span class="pull-right">Niveau <%= @item.level_min %>+  <%= t("magic_item.rarity.#{@item.rarity_name}") %></span></h3>
  </div>

  <div class="panel-body no-padding">
    <ul class="list-group">
      <li class="list-group-item no-border-line bg"><em><%= @item.description %></em></li>
      <% #TODO display level ne gere plus les items sans alteration %>
      <li class="list-group-item no-border-line"><%= display_levels(@item.object_levels.order(:level), !@item.alteration.blank?)%></li>

      <% unless  @item.weapon_groups.empty? %>
        <li class="list-group-item no-border-line"><strong><%= t("magic_item.weapon_groups")%></strong> : <%= display_weapon_group(@item.weapon_groups) %></li>
      <% end %>

      <% unless  @item.armor_categories.empty? %>
        <li class="list-group-item no-border-line"><strong><%= t("magic_item.armor_categories") %></strong> : <%= @item.armor_categories.map(&:name).join(', ') %> </li>
      <% end %>

      <% unless  @item.implement_group.nil? %>
        <li class="list-group-item no-border-line"><strong><%= t("magic_item.implement_group") %></strong> : <%= @item.implement_group.name %></li>
      <% end %>

      <% if @item.is_gear? %>
        <li class="list-group-item no-border-line"><strong><%= t("magic_item.location")%></strong> : <%= @item.location.name %></li>
      <% end %>

      <% unless @item.alteration.blank? %>
        <li class="list-group-item no-border-line"><strong><%= t("magic_item.alteration")%></strong> : <%= @item.alteration %></li>
      <% end %>

      <% unless @item.critical.blank? %>
        <li class="list-group-item no-border-line"><strong><%= t("magic_item.critical")%></strong> : <%= @item.critical %></li>
      <% end %>

      <% unless @item.property.blank? %>
        <li class="list-group-item no-border-line"><strong><%= t("magic_item.property")%></strong> : <%= simple_format(@item.property, {}, {wrapper_tag: 'span'}) %></li>
      <% end %>

      <% unless @item.power.blank? %>
        <li class="list-group-item no-border-line bg"><strong><%= t("magic_item.power")%></strong> : <%= simple_format(@item.power, {}, {wrapper_tag: 'span'}) %></li>
      <% end %>
    </ul>
  </div>

  <div class="panel-footer">
    <p><strong>Source</strong> : <%= @item.source.name %><span class="pull-right"><%= link_to t('magic_item.item.edit_magic_item', item: @item.name), edit_object_magic_item_path(@item.id) %></span></p>
    <% unless @item.special.empty? %>
      <span><strong>(Special)</strong> <%= simple_format(@item.special, {}, {wrapper_tag: 'span'}) %></span>
    <% end %>
  </div>

</div>

