<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "sidebloc/objects_menu" %>
<% end %>

<h3 class="col-sm-12"> <%= @implement.name %> </h3>

<dl class="dl-horizontal">
  <dt><%= t("magic.description", :class=>"col_sm-4")%></dt> <dd class="text-left"><%= @implement.description %></dd>

<% if  @implement.object_levels.empty? %>
  <dt><%= t("magic.levels", :class=>"col_sm-4") %>    </dt><dd class="text-left"><%= t('common.empty') %></dd>
<% else %>
   <dt><%= t("magic.levels", :class=>"col_sm-4") %>  </dt><dd class="text-left"><%= display_levels @implement.object_levels.order(:level)%></dd>
<% end %>

<% if  @implement.implement_groups.empty? %>
  <dt><%= t("magic.implement_groups", :class=>"col_sm-4") %>   </dt><dd class="text-left"><%= t('common.empty') %></dd>
<% else %>
  <dt><%= t("magic.implement_groups", :class=>"col_sm-4") %> </dt><dd class="text-left">
    <% @implement.implement_groups.each do |g| %>
      <%= g.name %>
    <% end %>
  </dd>
<% end %>

  <dt><%= t("magic.alteration",  :class=>"col_sm-4")%></dt> <dd class="text-left"><%= @implement.alteration %></dd>
  <dt><%= t("magic.critical",    :class=>"col_sm-4")%></dt> <dd class="text-left"><%= @implement.critical %></dd>
  <dt><%= t("magic.property",    :class=>"col_sm-4")%></dt> <dd class="text-left"><%= simple_format @implement.property %></dd>
  <dt><%= t("magic.power",       :class=>"col_sm-4")%></dt> <dd class="text-left"><%= simple_format @implement.power %></dd>
  <dt><%= t("magic.special",     :class=>"col_sm-4")%></dt> <dd class="text-left"><%= @implement.special %></dd>
  <dt><%= t("common.source",     :class=>"col_sm-4")%></dt> <dd class="text-left"><%= @implement.source.name %></dd>
</dl>

<%= link_to t('magic.implement.edit_implement', implement: @implement.name), edit_object_magic_implement_path(@implement.id) %>
