<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "sidebloc/object" %>
<% end %>

<h3 class="col-md-12"><%= t('common.weapon.title_index') %></h3>

<% if @communs.empty? %>
  <p><%= t('common.weapon.no_weapon') %></p>
<% else %>
  <%  @communs.each do |c| %>
    <p><%= link_to c.name, object_common_weapon_path(c.id)  %> - <%= link_to t('common.destroy'), object_common_weapon_path(c.id), method: :delete %></p>
  <% end %>
<% end %>
<br>
<p><%= link_to t('common.weapon.new_weapon'), new_object_common_weapon_path %></p>
