<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "sidebloc/object" %>
<% end %>

<h3 class="col-md-12">Modifier <%= link_to @weapon.name, edit_object_common_weapon_path(@weapon.id) %> </h3>
    <dl class="dl-horizontal">
    <dt class="col-md-4"><%= t("common.weapon.name")  %>      </dt><dd class="col-md-6"><%= @weapon.name %></dd>
    <dt class="col-md-4"><%= t("common.weapon.weight") %>     </dt><dd class="col-md-6"><%= @weapon.weight %></dd>
    <dt class="col-md-4"><%= t("common.weapon.price") %>      </dt><dd class="col-md-6"><%= @weapon.price %></dd>
    <dt class="col-md-4"><%= t("common.weapon.damage") %>     </dt><dd class="col-md-6"><%= @weapon.damage %></dd>
    <dt class="col-md-4"><%= t("common.weapon.handling") %>   </dt><dd class="col-md-6"><%= @weapon.handling %></dd>
    <dt class="col-md-4"><%= t("common.weapon.range") %>      </dt><dd class="col-md-6"><%= @weapon.range %></dd>
    <dt class="col-md-4"><%= t("common.weapon.two_handed") %> </dt><dd class="col-md-6"><%= @weapon.two_handed %></dd>
    <dt class="col-md-4"><%= t("common.source") %>            </dt><dd class="col-md-6"><%= @weapon.source.name %></dd>
    <dt class="col-md-4"><%= t("common.categories") %>        </dt><dd class="col-md-6"><%= @weapon.weapon_category.name%></dd>
    <% if  @weapon.weapon_properties.empty? %>
      <dt class="col-md-4"><%= t("common.properties") %>      </dt><dd class="col-md-6">Vide</dd>
    <% else %>
    <% @weapon.weapon_properties.each do |p| %>
      <dt class="col-md-4"><%= t("common.properties") %>      </dt><dd class="col-md-6"><%= p.name %></dd>
      <% end %>
    <% end %>
   
    <% if  @weapon.weapon_groups.empty? %>
      <dt class="col-md-4"><%= t("common.groups") %>      </dt><dd class="col-md-6">Vide</dd>
    <% else %>
    <% @weapon.weapon_groups.each do |g| %>
      <dt class="col-md-4"><%= t("common.groups") %>      </dt><dd class="col-md-6"><%= g.name %></dd>
      <% end %>
    <% end %>
    </dl>

   