<h4>Objets communs</h4>
<ul class="list-group padding-left">
  <li><%= link_to "Armes", items_common_weapons_path %></li>
  <li><%= link_to "Armures", items_common_armors_path %></li>
  <li><%= link_to "Boucliers", shields_items_common_armors_path %></li>
</ul>
<h4>Objets magiques</h4>
<ul class="list-group padding-left">
  <li><%= link_to "Armes", weapons_items_magic_items_path %></li>
  <li><%= link_to "Armures", armors_items_magic_items_path %></li>
  <li><%= link_to "Focaliseurs", implements_items_magic_items_path %></li>
  <li><%= link_to "Amulettes", amulets_items_magic_items_path %></li>
  <li><%= link_to "Équipements", gears_items_magic_items_path %></li>
</ul>
<h4>Consommables <small>(WIP)</small></h4>
<ul class="list-group padding-left">
  <li><%= link_to "Tous les Consommables", items_consumables_path %></li>
  <% Rails.application.config_for(:dungeons)["consumable_kind"].each do |k| %>
    <li><%= link_to t("consumables.kind.#{k}"), items_consumables_path %></li>
  <% end %>
</ul>
