<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "sidebloc/objects_menu" %>
<% end %>
<div class="row">
<h3 class="col-sm-12"><%= t('magic.gear.title_index') %></h3>
</div>

<div>
  <%= form_for @search, url: object_magic_gears_path, method: :get do |form| %>
    <%= form.label(:name, "Nom:") %>
    <%= form.text_field(:name) %>

    <%= form.label(:object_levels, "Alteration max:") %>
    <%= form.text_field(:object_levels) %>

    <% default_options =  params["magic_search"]["locations"] if params["magic_search"]%>
    <%= form.label(:location, "Emplacement d'objets:") %>
    <%= form.select :location, options_from_collection_for_select(@locations, :id, :name, default_options),{:include_blank => 'Tous'}, {multiple: true, size: 3}  %>

    <% default_source =  params["magic_search"]["source"] if params["magic_search"]%>
    <%= form.label(:source, "Source:") %>
    <%= form.select :source, options_from_collection_for_select(@sources, :id, :name, default_source), {:include_blank => 'Tous'}, {:multiple => false}  %>

    <%= form.submit("Search") %>
  <% end %>
</div>

<div class="row">
<% if @gears.empty? %>
  <p class="col-sm-5"><%= t('common.no_result') %></p>
<% else %>
  <div class="col-sm-12">
    <%= render "index_table", gears: @gears %>
  </div>
<% end %> <!-- Fin if -->
</div>


<div class="row">
<p class="col-sm-5"><%= link_to t('magic.gear.new_gear'), new_object_magic_gear_path %></p>
</div>
