<%# Sidebloc content%>
<% content_for :sidebloc do %>
    <%= render "campaign_menu" %>
<% end %>

<div class="row">
    <div class="col-sm-8">
        <h2><%= @campaign.name %></h2>
        <h3>Maître du jeu : <%= @campaign.game_master.name %></h3>
        <%= simple_format @campaign.description %>

        <% if @current_user == @campaign.game_master && @wishlist_to_show %>
            <%= render "wishlist" %>
        <% end %>
        <%= render "comments" %>

        <p><%= link_to t('.update_campaign_link'), edit_campaign_path(@campaign) %></p>
    </div>

    <div class="col-sm-4">
        <%= render "games_list" %>
    </div>
</div>
