<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "character_creation" %>
<% end %>


<div class="row">
  <h3 class="col-sm-12"><%= t('characters.title_new')%></h3>
</div>

<div class="row">
  <div class="col-sm-9">
    <%= form_for @character, url: save_abilities_character_creation_path(@character.id), html: {class: 'form-horizontal'} do |f| %>
      <h4>Caractérisitiques initiales <small>(comprises entre 3 et 18)</small></h4>
      <div class="row">
        <p class="col-sm-12">Choisissez la méthode que vous souhaitez pour déterminer vos caractéristiques: </p>

        <ul>
          <%= radio_button_tag :"method-choice", 1, false, {class: "method-choice"} %>
          <label for="method-choice_1" class="simple-text">Utiliser les valeurs standards suivantes: [16, 14 , 13, 12, 11, 10], à répartir dans vos caractéristiques.</label><br>
          <%= radio_button_tag :"method-choice", 2, true, {class: "method-choice"} %>
          <label for="method-choice_2" class="simple-text">Utiliser des valeurs personnalisées, en partant de [<%= Character::DEFAULT_ABILITIES.join(', ') %>] selon le tableau ci-contre.</label><br>
          <%= radio_button_tag :"method-choice", 3, false, {class: "method-choice"} %>
          <label for="method-choice_3" class="simple-text">Utiliser des valeurs déterminés alétoirement. Votre jet donne le résultat suivant: <%= @random_abilities %>.</label>
        </ul>
        <div class="row">

          <div class="col-sm-8">
            <div id="stat-point-div" class="form-group">
              <label for="stat-points" class="col-sm-8 control-label">Points dépensés (22 max)</label>
              <div class="col-sm-4">
                <%= f.text_field "stat-points", value: 0, class: "form-control", disabled: true %>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8">
            <div class="form-group">
              <%= label_tag :racial_stat, "Bonus racial", class: "col-sm-8 control-label" %>
              <div class="col-sm-4 ">
                <%= select_tag :racial_stat, options_for_select(@character.race.ability_to_a, @racial_bonus_chosen), {class: "form-control"}  %>
              </div>
            </div>
          </div>
        </div>
        <div class="row col-sm-12">
          <%= hidden_field_tag :level, @character.level  %>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th class="width-15"></th>
                <th class="width-5"></th>
                <th class="width-8 text-center">Valeur brute</th>
                <th class="width-5"></th>
                <th class="width-8 text-center">Bonus racial</th>
                <th class="width-8 text-center">Bonus niv.</th>
                <th class="width-5"></th>
                <th class="width-8 text-center">Valeur finale</th>
                <th class="width-8 text-center">Mod carac</th>
                <th class="width-8 text-center">Mod carac + 1/2 niv.</th>
              </tr>
            </thead>
            <tbody id="character-stats">
              <% @char_abilities.each_with_index do |ability_bonus, i| %>
                <%= f.fields_for :ability_bonuses, ability_bonus do |ff| %>
                <tr>
                  <td class="black-bg white-text"><%= Stat.human_attribute_name ability_bonus.ability.name %></td>

                  <td class="black-bg text-center"><button class="btn-minus btn btn-default rounded"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button></td>
                  <td class="black-bg"><%= ff.text_field :initial_value, class: "text-center stat width-max text-right", size: 1 %></td>
                  <td class="black-bg text-center"><button class="btn-plus btn btn-default rounded"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></td>

                  <td>
                    <%= button_tag ability_bonus.bonus_racial, id: "racial_stat_#{ability_bonus.ability.name}", class: "js-racial-bonus width-max btn btn-default", disabled: true %>
                    <%= ff.hidden_field :bonus_racial, value: ability_bonus.bonus_racial, class: "js-racial-bonus-field" %>
                  </td>
                  <td class="level-bonus-stats">
                    <%= button_tag ability_bonus.total_bonus_level, id: "total_bonus_level_stat_#{ability_bonus.ability.name}", class: "total-bonus-level-stat width-max btn btn-default", disabled: true %>
                    <% Character::NEW_ABILITIES_LEVEL.each do |l| %>
                      <% level = "level_#{l}" %>
                      <%= ff.hidden_field level.to_sym, value: ability_bonus.send(level), class: "js-bonus-carac-field", id: "input-#{ability_bonus.ability.name}-level-#{l}"  %>
                    <% end %>
                  </td>

                  <% temp_total_value = ability_bonus.initial_value + ability_bonus.bonus_racial + ability_bonus.total_bonus_level %>
                  <td class="center">=</td>
                  <td><button type="button" class="final-value btn btn-default width-max bold" disabled="disabled"><%= temp_total_value %></button></td>
                  <td><button type="button" class="mod-carac btn btn-default width-max bold" disabled="disabled"><%= ability_bonus.modifier(temp_total_value) %></button></td>
                  <td><button type="button" class="mod-carac-half_lvl btn btn-default width-max bold" disabled="disabled"><%= ability_bonus.modifier(temp_total_value) + (@character.level / 2).floor %></button></td>
                </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
        <br>

        <% if @character.level >= 4 %>
          <h4>Caractérisitiques supplémentaires</h4>
          <p>Vous pouvez ajouter 1 point dans deux de vos caractéristiques aux niveau 4, 8, 14, 18, 24, 28.<br>Au niveau 11 et 21, vous gagnez 1 point dans chaque caractéristiques</p>
          <div class="row col-sm-12">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th class="center"></th>
                  <% Character::NEW_ABILITIES_LEVEL.reject{|l| l > @character.level }.each do |l| %>
                    <th class="center">Niv. <%= l %></th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
              <% @char_abilities.each_with_index do |ability_bonus, i| %>
                <tr class="<%= ability_bonus.ability.name %>">
                  <td class="black-bg white-text"><%= Stat.human_attribute_name ability_bonus.ability.name  %></td>
                  <% Character::NEW_ABILITIES_LEVEL.reject{|l| l > @character.level }.each do |l| %>
                    <td class="center">
                      <% ability_level = "#{ability_bonus.ability.name}-level-#{l}" %>
                      <% if (l == 11 || l == 21) %>
                        <button type="button" class="btn btn-info" disabled="">
                          <span class="glyphicon glyphicon-ok"></span>
                        </button>
                      <% else %>
                        <% if (ability_bonus.send("level_#{l}") == 0 ) %>
                          <button id="<%= ability_level %>" type="button" class="level-<%= l %> btn btn-default js-btn-bonus-carac">
                            <span class="glyphicon glyphicon-plus"></span>
                          </button>
                        <% else %>
                          <button id="<%= ability_level %>" type="button" class="level-<%= l %> btn btn-info js-btn-bonus-carac">
                            <span class="glyphicon glyphicon-ok"></span>
                          </button>
                        <% end %>
                      <% end %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>
      <%= f.hidden_field :user_id, value: @current_user.id %>
      <%= link_to 'Précédent', choose_optional_fields_character_creation_path(@character.id), class: "btn btn-default" %>
      <%= submit_text_form(f) %>
    <% end %>
  </div>

  <%= render "choose_carac_infos" %>
</div>
