<div class="row">
  <h2>Modification de <%= @user.name %></h2>
  <div class="col-qm-12">
    <%= form_for([:admin, @user]) do |f| %>

      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this feature from being saved:</h2>
          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div>
        <p>Modifier pseudo :<%= f.text_field :name %></p>
        <p>Modifier mot de passe :<%= f.password_field :password %></p>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
