<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info items, {model: MagicItem.model_name.human(count: count)} %>
    </div>
    <%= will_paginate items, :container => false %>
</div>

<div class="table-responsive">
  <table  class="table table-striped table-bordered table-hover">
    <tr>
      <th class="col-sm-1"><%= MagicItem.human_attribute_name('.name')            %></th>
      <% if @kind == 'weapons' %>
        <th class="col-sm-1"><%= MagicItem.human_attribute_name('weapon_groups')  %></th>
      <% elsif @kind == 'armors' %>
        <th class="col-sm-1"><%= MagicItem.human_attribute_name('armor_categories')%></th>
      <% elsif @kind == 'implements' %>
        <th class="col-sm-1"><%= MagicItem.human_attribute_name('implement_groups')    %></th>
      <% elsif @kind == 'gears' %>
        <th class="col-sm-1"><%= MagicItem.human_attribute_name('location') %></th>
      <% end %>
      <th class="col-sm-1"><%= MagicItem.human_attribute_name('level_min')       %></th>
      <th class="col-sm-1"><%= MagicItem.human_attribute_name('property')        %></th>
      <th class="col-sm-1"><%= MagicItem.human_attribute_name('power')           %></th>
      <th class="col-sm-1"><%= MagicItem.human_attribute_name('rarity')           %></th>
      <th class="col-sm-1"><%= MagicItem.human_attribute_name('source')          %></th>
    </tr>
  <% items.each do |i| %>
    <tr>
      <td><%= link_to i.name, items_magic_item_path(i.id)  %></td>
      <% if @kind == 'weapons' %>
        <td><%= display_weapon_group(i.weapon_groups) %></td>
      <% elsif @kind == 'armors' %>
        <td><%= simple_format i.armor_categories.map(&:name).join("\n") %></td>
      <% elsif @kind == 'implements' %>
        <td><%= i.implement_group.try(:name) %></td>
      <% elsif @kind == 'gears' %>
        <td><%= i.location.name %> </td>
      <% end %>
      <td><%= i.level_min %> </td>
      <td><%= simple_format(display_first_words(i.property), {}, {wrapper_tag: 'span'}) %> </td>
      <td><%= simple_format(display_first_words(i.power), {}, {wrapper_tag: 'span'}) %> </td>
      <td><%= MagicItem.human_attribute_name(i.rarity) %> </td>
      <td><%= i.source.name %> </td>
    </tr>
  <% end %><!-- Fin communs -->
  </table>
</div>

<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info items, {model: MagicItem.model_name.human(count: count)} %>
    </div>
    <%= will_paginate items, :container => false %>
</div>
