
<div class="row">
  <h3 class="col-sm-12"><%= t('magic_item.random') %></h3>
</div>

<div class="row">
  <div class="col-sm-12">


<div class="table-responsive">
  <table  class="table table-striped table-bordered table-hover">
    <tr>
      <th class="col-sm-1">Nom</th>
      <th class="col-sm-1">Niveau min</th>
      <th class="col-sm-1">Propriete</th>
      <th class="col-sm-1">Pouvoir</th>
      <th class="col-sm-1">Source</th>
    </tr>
  <% @randomObjects.each do |w| %>
    <tr>
      <td><%= link_to w.name, items_magic_item_path(w.id)  %></td>
      <td><%= w.level_min %> </td>
      <td><%= display_first_words w.property %> </td>
      <td><%= display_first_words w.power %> </td>
      <td><%= w.source.name %> </td>
    </tr>
  <% end %><!-- Fin communs -->
  </table>
</div>
  </div>
</div>
