<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "items/items_side_menu" %>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading bg-title">
    <h3 class="panel-title"><strong><%= @item.name %></strong><span class="pull-right"> <%= t('.level_min', lvl: @item.level_min) %> <%= MagicItem.human_attribute_name(@item.rarity) %></span></h3>
  </div>

  <div class="panel-body no-padding">
    <ul class="list-group">
      <li class="list-group-item no-border-line bg"><em><%= @item.description %></em></li>
      <li class="list-group-item no-border-line"><%= display_levels(@item.object_levels.order(:level), !@item.alteration.blank?)%></li>

      <% unless  @item.weapon_groups.empty? %>
        <li class="list-group-item no-border-line"><strong><%= MagicItem.human_attribute_name("weapon_group_ids")%></strong> : <%= display_weapon_group(@item.weapon_groups) %></li>
      <% end %>

      <% unless  @item.armor_categories.empty? %>
        <li class="list-group-item no-border-line"><strong><%= MagicItem.human_attribute_name("armor_category_ids") %></strong> : <%= @item.armor_categories.map(&:name).join(', ') %> </li>
      <% end %>

      <% unless  @item.implement_group.nil? %>
        <li class="list-group-item no-border-line"><strong><%= MagicItem.human_attribute_name("implement_group_id") %> (<%= @item.implement_group.name %>)</strong></li>
      <% end %>

      <% if @item.is_gear? %>
        <li class="list-group-item no-border-line"><strong><%= MagicItem.human_attribute_name("location_id")%></strong> : <%= @item.location.name %></li>
      <% end %>

      <% unless @item.alteration.blank? %>
        <li class="list-group-item no-border-line"><strong><%= MagicItem.human_attribute_name("alteration")%></strong> : <%= @item.alteration %></li>
      <% end %>

      <% unless @item.critical.blank? %>
        <li class="list-group-item no-border-line"><strong><%= MagicItem.human_attribute_name("critical")%></strong> : <%= @item.critical %></li>
      <% end %>

      <% unless @item.property.blank? %>
        <li class="list-group-item no-border-line"><strong><%= MagicItem.human_attribute_name("property")%></strong> : <%= simple_format(@item.property, {}, {wrapper_tag: 'span'}) %></li>
      <% end %>

      <% unless @item.power.blank? %>
        <li class="list-group-item no-border-line bg"><strong><%= MagicItem.human_attribute_name("power")%></strong> : <%= simple_format(@item.power, {}, {wrapper_tag: 'span'}) %></li>
      <% end %>
    </ul>
  </div>

  <div class="panel-footer">
    <p><strong><%= MagicItem.human_attribute_name("source")%></strong> : <%= @item.source.name %><span class="pull-right"><%= link_to t('.edit', item: @item.name), edit_items_magic_item_path(@item.id) %></span></p>
    <% unless @item.special.empty? %>
      <span><strong>(Special)</strong> <%= simple_format(@item.special, {}, {wrapper_tag: 'span'}) %></span>
    <% end %>
  </div>

  <% if is_current_user_admin? %>
    <div>
      <p class="pull-right"><%= link_to 'Supprimer', items_magic_item_path(@item.id), method: :delete, data: { confirm: "Supprimer l'objet #{@item.id} #{@item.name} ?" }, class: "btn btn-danger" %></p>
    </div>
  <% end %>

</div>

<div class="row">
  <% if @inWishlists %>
    <p class="col-sm-12">Cet objet fait déjà partie de votre liste de souhait.</p>
  <% else %>
    <div class="col-sm-12">
      <%= form_for [:items, @item], {url: wishlist_items_magic_items_path, method: :post, :class => 'form-horizontal'} do |f| %>
        <%= f.submit(t(".add_wishlist"), name: "commit", :class => "btn btn-default", id: "submit-button") %>
      <% end %>
    </div>
  <% end %>
</div>