<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "sidebloc/objects_menu" %>
<% end %>

<p id="notice"><%= notice %></p>

<div class="row">
  <h3 class="col-sm-12"><%= t('.title_index') %></h3>
</div>

<div class="row" style="margin-bottom:20px;">
  <p>TODO: filtre! </p>
</div>

<div class="row">
  <div class="col-sm-12">
    <% if @consumables.any? %>
      <%= render "index_table", consumables: @consumables %>
    <% else %>
      <p><%= t('common.no_result') %></p>
    <% end %>
  </div>
</div>

<div class="row">
  <p class="col-sm-5"><%= link_to t(".new_consumable"), new_object_consumable_path %></p>
</div>
