<!DOCTYPE html>
<html>
<head>
  <title>Aide au jeu de rôle Donjons & Dragons 4</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="container background">
  <div class="page">
    <header  class="header">
      <h1 class= "no-margin" style="display: inline-block;">
        <%= link_to root_path, class: "active white-text" do %>
          <%= image_tag("header/dnd_logo.png") %>
          <%= t("menu.main_title") %>
        <% end %>
      </h1>
      <% if current_user %>
        <div class="account box pull-right">
          <p>Bonjour <%= link_to current_user.name, user_path(current_user) %> | <%= link_to "Logout", '/logout' %></p>
        </div>
      <% end %>
    </header>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "flash #{find_flash_class(name)}" %>
    <% end %>

    <nav class="black-bg">
     <ul class="nav nav-tabs">
        <li role="presentation"><%= link_to t("menu.link.object"),   objects_index_path,   title: t("menu.tooltip.object"),   class: "white-text" %></li>
        <li role="presentation"><%= link_to t("menu.link.feat"),     feats_path,           title: t("menu.tooltip.feat"),     class: "white-text" %></li>
        <li role="presentation"><%= link_to t("menu.link.race"),     races_path,           title: t("menu.tooltip.race"),     class: "white-text" %></li>
        <li role="presentation"><%= link_to t("menu.link.klass"),    klasses_path,         title: t("menu.tooltip.klass"),    class: "white-text" %></li>
        <!-- <li role="presentation"><%= link_to t("menu.link.help"),     aides_path,           title: t("menu.tooltip.help"),     class: "white-text" %></li> -->
        <!-- <li role="presentation"><%= link_to t("menu.link.loot"),     "#",                  title: t("menu.tooltip.loot"),     class: "white-text" %></li> -->
        <li role="presentation"><%= link_to t("menu.link.campaign"), campaigns_path,       title: t("menu.tooltip.campaign"), class: "white-text" %></li>
        <% if current_admin_user %>
          <li role="presentation"><%= link_to t("menu.link.import"), import_welcomes_path, title: t("menu.tooltip.import"), class: "white-text" %></li>
          <li role="presentation"><%= link_to t("menu.link.contribute"), contribute_welcomes_path, title: t("menu.tooltip.contribute"), class: "white-text" %></li>
        <% end %>
      </ul>
    </nav>

    <div class="row no-margin sidebloc">
    <% unless @hide_side_bloc  %>
      <div class="col-sm-2">
        <%= yield :sidebloc %>
      </div>
    <% end %>
      <div class="col-sm-10">
        <%= yield %>
      </div>
    </div>

    <footer class=" row col-sm-12 no-margin">
    </footer>
  </div>
</body>
</html>
