<!DOCTYPE html>
<html>
<head>
  <title>Aide au jeu de rôle Donjons & Dragons 4</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="container background">
  <div class="page">
    <header  class="header">
      <h1 class= "no-margin" style="display: inline-block;">
        <%= link_to root_path, class: "active white-text" do %>
          <%= image_tag("header/dnd_logo.png") %>
          <%= t("menu.main_title") %>
        <% end %>
      </h1>
      <% if @current_user.kind_of? User %>
        <div class="account box pull-right">
          <p>Bonjour <%= link_to @current_user.name, user_path(@current_user) %> | <%= link_to "Logout", '/logout' %></p>
          <p><%= link_to "Voir mes héros", characters_path %></p>
        </div>
      <% end %>
    </header>

    <% flash.each do |name, msg| %>
      <% flash_class =  %>
      <div class="<%= "flash #{find_flash_class(name)}" %>">
        <% msg.split(':').last.split(',').each do |m| %>
          <%= m %></br>
        <% end %>
      </div>
    <% end %>

    <nav class="navbar black-bg">
      <ul class="nav navbar-nav nav-pills navbar-left">
        <li role="presentation"><%= link_to t("menu.link.object"),   object_index_path,   title: t("menu.tooltip.object"),   class: "white-text" %></li>
        <li role="presentation"><%= link_to t("menu.link.feat"),     feats_path,           title: t("menu.tooltip.feat"),     class: "white-text" %></li>
        <li role="presentation"><%= link_to t("menu.link.race"),     races_path,           title: t("menu.tooltip.race"),     class: "white-text" %></li>
        <li role="presentation"><%= link_to t("menu.link.klass"),    klasses_path,         title: t("menu.tooltip.klass"),    class: "white-text" %></li>
        <!-- <li role="presentation"><%= link_to t("menu.link.help"),     aides_path,           title: t("menu.tooltip.help"),     class: "white-text" %></li> -->
        <!-- <li role="presentation"><%= link_to t("menu.link.loot"),     "#",                  title: t("menu.tooltip.loot"),     class: "white-text" %></li> -->
        <li role="presentation"><%= link_to t("menu.link.campaign"), campaigns_path,       title: t("menu.tooltip.campaign"), class: "white-text" %></li>
        <% if is_current_user_admin? %>
          <li role="presentation"><%= link_to t("menu.link.import"), import_welcomes_path, title: t("menu.tooltip.import"), class: "white-text" %></li>
        <% end %>
        <% if is_current_user_contributor? %>
          <li role="presentation"><%= link_to t("menu.link.contribute"), contribute_welcomes_path, title: t("menu.tooltip.contribute"), class: "white-text" %></li>
        <% end %>
        <li role="presentation"><%= link_to t("menu.link.random"),   random_welcomes_path,   title: "Random",   class: "white-text" %></li>
        <li role="presentation"><%= link_to t("menu.link.dmtools"),   dm_tools_path,   title: "Boite à outils",   class: "white-text" %></li>
      </ul>


      <%= form_tag search_index_path, method: 'get', :class => 'navbar-form navbar-right', role: 'search' do |f| %>
        <div class="form-group">
          <%= text_field_tag :search, params[:search],  {class: "form-control", placeholder: "Search"}  %>
        </div>
        <%= submit_tag "Search", :name => nil, class: "btn btn-default" %>
      <% end %>

    </nav>

    <div class="row no-margin">
    <% if @hide_side_bloc  %>
      <div class="col-sm-12">
        <%= yield %>
      </div>
    <% else %>
      <div class="col-sm-2 sidebloc">
        <%= yield :sidebloc %>
      </div>
      <div class="col-sm-10">
        <%= yield %>
      </div>
    <% end %>
    </div>

    <footer class="row col-sm-12 no-margin">
    </footer>
  </div>
</body>
</html>
