<!DOCTYPE html>
<html>
<head>
  <title>Aide au jeu de rôle Donjons & Dragons 4</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="container">
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: name %>
<% end %>
<header>
  <h1><a href="/" title="Page d&#039;accueil" class="active">La promenade de Waukeen</a></h1>
</header>

<nav>
 <ul class="nav nav-tabs">
    <li role="presentation"><%= link_to "Objects", "/objects/index", title:"Pages des objets magiques et commun." %></li>
    <li role="presentation"><%= link_to "Talents", feats_path, title:"Tous les talents de DD4." %></li>
    <li role="presentation"><%= link_to "Races", "/races/index", title:"Toutes les races de DD4." %></li>
    <li role="presentation"><%= link_to "Classes", "/classes/index", title:"Toutes les classes de DD4." %></li>
    <li role="presentation"><%= link_to "Aides de jeux", "/aides/index", title:"Infos utiles." %></li>
    <li role="presentation"><a href="#" title="Générateur de butin">Trésor</a></li>
    <li role="presentation"><a href="#">Membres</a></li>
    <li role="presentation"><a href="#" title="Ajouter un objet ou talent">Contribuer</a></li>
  </ul>
</nav>

<div class="row">
  <div class="col-sm-2" style="border: 1px solid">
    <%= yield :sidebloc %>
  </div>
  <div class="col-sm-10">
    <%= yield %>
  </div>
</div>

<footer class=" row col-sm-12" style="border: 1px solid">
  <p>Pied de page</p>
</footer>
</body>
</html>
